<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/swiper.min.css" />
    <!--<style >-->
        <!--.swiper-pagination-bullet {-->
            <!--width: 10px !important;-->
            <!--height: 10px !important;-->
            <!--background: #c6c6c6;-->
        <!--}-->
        <!--.swiper-pagination-bullet-active {-->
            <!--background: #2ee6e6;-->
        <!--}-->
    <!--</style>-->
</head>
<body class="bg-grey" id="goodsDetailApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">商品详情页
        <a href="javascript: history.back();" class="back">
            <img src="../assets/i/back.png" />
        </a>
        <a href="../personal.html?company_id={{companyId}}" class="personal-top-link">
            <img src="../assets/i/personal-logo.png" />
        </a>
    </div>

    <!--即将揭晓-倒计时-->
    <div v-cloak v-if="goodsStatus == 'ending'" class="pt5 pb10 countdown-bg text-center bd-top bd2">
        <div class="bg-white br4 inline-block padding-horizontal-16 pb10">
            <span class="block text-center f16 padding-vertical-5">离开奖揭晓还有</span>
            <div class="bg-grey padding-vertical-10 padding-horizontal-10 f0">
                <span v-cloak class="time-box inline-block f24 font-white bg-yellow bd bd-yellow br4">
                    <span class="block bd-bottom" style="border-color: #cc9e14;" v-cloak>{{time.min}}</span>
                    <span class="block bd-top f14" style="border-color: #ffd966;">分钟</span>
                </span>
                <span v-cloak class="time-box inline-block f24 font-white bg-yellow bd bd-yellow br4 margin-horizontal-7">
                    <span class="block bd-bottom" style="border-color: #cc9e14;" v-cloak>{{time.sec}}</span>
                    <span class="block bd-top f14" style="border-color: #ffd966;">秒</span>
                </span>
                <span v-cloak class="time-box inline-block f24 font-white bg-yellow bd bd-yellow br4">
                    <span class="block bd-bottom" style="border-color: #cc9e14;" v-cloak>{{time.msec}}</span>
                    <span class="block bd-top f14" style="border-color: #ffd966;">毫秒</span>
                </span>
            </div>
        </div>
    </div>

    <!--已揭晓-中奖码-->
    <div v-cloak v-if="goodsStatus == 'end'" class="pt5 pb10 lucky-code-bg text-center bd-top bd2 bd-red">
        <div class="bg-white br4 inline-block padding-horizontal-16 pb10">
            <span class="block text-center f16 padding-vertical-5">揭晓幸运云购码</span>
            <div class="bg-grey padding-vertical-10 padding-horizontal-10">
                <span v-cloak class="block f24 font-white bg-yellow bd bd-yellow br4 padding-vertical-2 padding-horizontal-5">
                    {{goods.luckycode}}
                </span>
                <a href="../roll-method.html?goods_id={{goodsId}}&luckycode={{goods.luckycode}}&company_id={{companyId}}" class="block text-right f11 font-grey pt5">
                    查看计算方式
                </a>
            </div>
        </div>
    </div>

    <!--商品轮播图-->
    <div class="swiper-container goods-detail-swiper" v-bind:class="{'bd-red': goodsStatus == 'end'}">
        <div class="swiper-wrapper">
        </div>
        <!-- 进度条 -->
        <div class="swiper-pagination">
        </div>
    </div>

    <div class="goods-detail-intro padding-horizontal-16 pb10 bg-white grid-container">
        <!--商品名称&简介-->
        <div class="padding-vertical-14">
            <!--期数-->
            <div v-cloak class="mb10 position-rl f0">
                <span class="f13 padding-vertical-2 padding-horizontal-20 bg-light-blue br20 font-white inline-block">
                    {{goods.thematic_name}}
                </span>
                <!--已揭晓-揭晓时间-->
                <span v-if="goodsStatus == 'end'" class="font-grey f11 position-ab rt0 bt0" v-cloak>
                    揭晓时间：{{goods.lucky_time | date}}
                </span>
            </div>
            <span class="block" v-cloak>{{goods.goods_name}}</span>
        </div>

        <!--参与人数进度条-->
        <div v-cloak v-if="goodsStatus != 'end'" class="bg-grey br4 padding-horizontal-10 row mb10">
            <span class="col-xs-3 f13 lh36">云购进度</span>
            <div class="col-xs-9 text-right pt5">
                <div class="progress">
                    <div class="progress-bar" v-bind:style="{width: progressWidth}"></div>
                </div>
                <span v-if="goodsStatus == 'ending'" class="font-red f11">[满员]</span>
                <span class="f11" v-cloak>
                    <span v-bind:class="{'font-red': goodsStatus == 'ing', 'font-green': goodsStatus == 'ending'}">
                        {{goods.purchase_num}}
                    </span>/{{goods.total_num}}
                </span>
            </div>
        </div>

        <!--参与情况-->
        <div v-cloak v-if="goodsStatus != 'end'" class="row margin-vertical-5 font-grey f11 lh11">
            <span class="col-xs-4" v-cloak >
                价值：{{goods.price}}元
            </span>
            <span class="col-xs-4 bd-right bd-left bd-grey text-center" v-cloak>
                剩余：{{goods.last_num}}人次
            </span>
            <span class="col-xs-4 text-right" v-cloak>
                限购：{{goods.limit_num}}人次
            </span>
        </div>

        <!--已揭晓-中奖者信息-->
        <div v-cloak v-if="goodsStatus == 'end'" class="bg-light-blue br4 padding-horizontal-16 padding-vertical-14 position-rl">
            <img src="../assets/i/winner-icon.png" alt="" width="54" class="position-ab tp0 lt0">
            <!--中奖者头像-->
            <img v-bind:src="goods.user_img" class="round fl" width="60">
            <!--中奖者信息-->
            <div class="ml76">
                <span v-cloak style="color: #146666;" v-cloak>获奖者：{{goods.nickname}}</span>
                <div class="br4 pd10 mt5 f11" style="background-color: #99ffff; color: #1f9999;">
                    <span class="block">商品期号：
                        <span v-cloak>{{goods.thematic_name}}</span>
                    </span>
                    <span class="block mt5">本期参与：
                        <span class="font-red" v-cloak>{{goods.buynum}}</span>人次
                    </span>
                    <span class="block mt5">幸运号码：
                        <span class="font-red" v-cloak>{{goods.luckycode}}</span>
                    </span>
                </div>
            </div>
            
        </div>
    </div>

    <!--参与记录、图文详情入口-->
    <div class="pb80">
        <ul class="link-list bg-white f13 mt20 pl16 bd-top bd-bottom bd-grey">
            <li>
                <a href="../join-record.html?goods_id={{goodsId}}&company_id={{companyId}}" class="block position-rl">
                    <img src="../assets/i/link-list-clock.png" alt="" class="position-rl" style="width: 1.3rem; top: 2px;">
                    <span class="ml10">参与记录</span>
                </a>
            </li>
            <li>
                <a href="../goods-img-detail.html?goods_id={{goodsId}}&company_id={{companyId}}" class="block position-rl">
                    <img src="../assets/i/img-detail-icon.png" alt="" class="position-rl" style="width: 1.3rem; top: 2px;">
                    <span class="ml10">图文详情 <span class="font-grey">（建议在WI-FI下使用）</span></span>
                </a>
            </li>
            <!--<li>-->
            <!--<a href="#" class="block position-rl">-->
            <!--<img src="../assets/i/camera-icon.png" alt="" class="position-rl" style="width: 1.3rem; top: 2px;">-->
            <!--<span class="ml10">获奖晒单</span>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </div>

    <!--立即一元购按钮-->
    <div v-cloak class="padding-horizontal-10 padding-vertical-10 position-fix bt0 width-full"
        style="z-index: 10; background-color: rgba(255, 255, 255, 0.8);">
        <button v-if="goodsStatus == 'ing'" v-on:click="modalOpen('.goods-popup')" class="btn bg-red width-full font-white br4 buy-modal-btn">
            立即一元购
        </button>
        <a v-if="goodsStatus == 'end'" href="../index.html?company_id={{companyId}}" class="btn bg-light-green width-full font-white br4">
            逛逛其他云购商品 >
        </a>
        <!--查看云购码按钮-->
        <button v-if="goodsStatus == 'ending'" v-on:click="modalOpen('.code-modal')" class="btn bg-red width-full font-white br4 code-modal-btn">
            查看我的云购码({{goods.user_code.length}})
        </button>
    </div>

    <!--购买弹窗-->
    <div v-on:click="modalClose('.goods-popup')" class="popup goods-popup" role="alert">
        <div v-on:click.stop class="popup-container padding-vertical-10 bg-grey">
            <a v-on:click="modalClose('.goods-popup')"  href="javascript:;" class="popup-close goods-popup-close"></a>

            <div class="padding-horizontal-20 bd-bottom bd-grey mb10" v-cloak>
                <div class="f15 font-grey">剩余{{goods.last_num}}人次</div>
                <div class="margin-vertical-10 f15">{{goods.goods_name}}</div>
            </div>

            <!--计数器-->
            <div class="goods-counter text-left padding-horizontal-20 f0" v-cloak>
                <span class="subtract" v-on:click="numCut">-</span>
                <span class="count-box">
                    <input v-model="num" class="bd-none width-full bg-none f16 text-center">
                </span>
                <span class="add" v-on:click="numAdd">+</span>
                <span class="ml10 f16">限购{{goods.limit_num}}人次</span>
            </div>
            <!--合计-->
            <div class="text-left padding-vertical-10 padding-horizontal-20" v-cloak>
                合计：<span class="font-red f20">{{num}}</span>
                <span class="font-red f18">元</span>
            </div>
            <!--结算按钮-->
            <div class="padding-horizontal-20">
                <button id="chooseWXPay" class="btn br4 width-full bg-red font-white" >去结算</button>
            </div>
        </div>
    </div>

    <!--认购码显示弹窗-->
    <div v-if="goods.user_code" v-on:click="modalClose('.code-modal')" class="popup code-modal f15" role="alert">
        <div v-on:click.stop class="popup-container bg-grey">
            <a v-on:click="modalClose('.code-modal')" href="javascript:;" class="popup-close code-modal-close"></a>
            <div class="default-font padding-horizontal-10 padding-vertical-10 bd-bottom bd-grey" v-cloak>
                您购买了<span class="font-red">{{goods.user_code.length}}</span>人次
            </div>
            <div class="text-left default-font padding-horizontal-10 padding-vertical-20">认购码：
                <div class="buy-code-box">
                    <span v-for="item in goods.user_code" class="inline-block mr16 padding-vertical-10" v-cloak>{{item}}</span>
                </div>
            </div>
        </div>
    </div>

    <!--错误显示弹窗-->
    <div v-on:click="modalClose('.error-modal')" class="popup error-modal f15" role="alert">
        <div v-on:click.stop class="popup-container bg-white">
            <a v-on:click="modalClose('.error-modal')" href="javascript:;" class="popup-close error-modal-close"></a>
            <div class="error-tip">{{errorTip}}</div>
            <div v-on:click="modalClose('.error-modal')" class="error-confirm-btn">确定</div>
        </div>
    </div>

    <!--<error-modal modal-name="xwt" error-tip="哈哈"></error-modal>-->

    <script type="text/javascript" src="../assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../assets/js/base.js"></script>
    <script type="text/javascript" src="../assets/js/swiper.min.js"></script>
    <script type="text/javascript" src="../assets/js/goodDetailApp.js"></script>
</body>
</html>