<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>添加商品</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
  <link rel="stylesheet" href="assets/css/webuploader.css">
</head>
<body id="addGoodsApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加商品基本信息</strong> / <small>Goods information</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12">
        <form class="am-form am-form-horizontal" id="goods-form" enctype="multipart/form-data">
          <input v-model="goodsId" type="text" name="goods_id" class="am-hide" >
          <div class="am-form-group">
            <label for="company_id" class="am-u-sm-3 am-form-label">所属专区 / Company</label>
            <div class="am-u-sm-9">
              <select v-on:change="thematicChange()" v-model="formData.company_id" name="company_id">
                <option v-for="item in companyList" v-bind:value="item.id">{{item.company_name}}</option>
              </select>
            </div>
          </div>
          <div class="am-form-group">
            <label for="thematic_id" class="am-u-sm-3 am-form-label">所属专题 / Thematic</label>
            <div class="am-u-sm-9">
              <select v-model="formData.thematic_id" name="thematic_id">
                <option v-for="item in thematic" v-bind:value="item.id">{{item.thematic_name}}</option>
              </select>
            </div>
          </div>

          <div class="am-form-group">
            <label for="goods_name" class="am-u-sm-3 am-form-label">商品性质 / Nature</label>
            <div class="am-u-sm-9">
              <select v-model="formData.nature" name="nature">
                <option value="0" selected>实物</option>
                <option value="1">虚拟券</option>
              </select>
            </div>
          </div>

          <div class="am-form-group">
            <label for="goods_name" class="am-u-sm-3 am-form-label">商品名称 / Name</label>
              <div class="am-u-sm-9">
                <input v-model="formData.goods_name" type="text" name="goods_name" placeholder="商品名称">
              </div>
          </div>

          <div class="am-form-group">
            <label for="goods_title" class="am-u-sm-3 am-form-label">商品标题 / Title</label>
            <div class="am-u-sm-9">
              <input v-model="formData.goods_title" type="text" name="goods_title" placeholder="商品标题">
            </div>
          </div>

          <div class="am-form-group">
            <label for="cost_price" class="am-u-sm-3 am-form-label">成本价 / CostPrice</label>
            <div class="am-u-sm-9">
              <input v-model="formData.cost_price" type="text" name="cost_price" placeholder="成本价">
            </div>
          </div>

          <div class="am-form-group">
            <label for="price" class="am-u-sm-3 am-form-label">价格 / Price</label>
            <div class="am-u-sm-9">
              <input v-if="formData.goods_id" disabled v-model="formData.price" type="text">
              <input v-else type="text" v-model="formData.price" placeholder="请输入商品价格">
            </div>
          </div>

          <div class="am-form-group">
            <label for="free_post" class="am-u-sm-3 am-form-label">是否包邮 / PostFee</label>
            <div class="am-u-sm-9">
              <select v-model="formData.free_post" name="free_post">
                <option value="0">不包邮</option>
                <option value="1">包邮</option>
              </select>
            </div>
          </div>

          <div class="am-u-sm-11 am-u-sm-push-1">
            <div class="am-panel am-panel-default">
              <div class="am-panel-bd">
                <!--上传首页海报-->
                <div id="uploader" class="am-padding-horizontal-sm">
                  <!--用来存放item-->
                  <div id="fileList" class="uploader-list am-margin-bottom-sm">
                    <img v-bind:src="goodsImg" width="100" class="am-block">
                  </div>
                  <div id="filePicker" class="am-inline-block">选择图片</div>
                  <button v-on:click="clearImg()" class="am-btn am-btn-danger am-inline-block"
                          style="vertical-align: top; height: 45px; border-radius: 3px;" type="button">
                    清空图片
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!--商品描述编辑器-->
          <div class="am-u-sm-11 am-u-sm-push-1 am-margin-bottom">
              <script id="editor" type="text/plain" name="goods_desc" style="width:100%;height:360px;"></script>
          </div>

          <div class="am-form-group">
            <div class="am-u-sm-11 am-u-sm-push-1 am-padding-bottom">
              <button v-if="!formData.goods_id" v-on:click="goodsSub()" type="button" class="am-btn am-btn-primary">
                添加商品
              </button>
              <div v-else>
                <button v-on:click="editSave()" type="button" class="am-btn am-btn-primary" id="goods-edit">
                  保存修改
                </button>
                <button v-on:click="deleteGoods()" type="button" class="am-btn am-btn-danger am-margin-left-sm" id="goods-edit">
                  删除商品
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script src="assets/js/webuploader.min.js"></script>

<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="assets/js/addGoodsApp.js" type="text/javascript"></script>
</body>
</html>
