<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>添加商品相册</title>
  <!--<meta name="description" content="商品添加页面">-->
  <!--<meta name="keywords" content="form">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
  <!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />-->
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" href="assets/css/webuploader.css">
</head>
<body id="addAlbumApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品相册</strong> / <small>Goods Album</small></div>
    </div>

    <hr/>

    <div class="am-g">
      <form id="album-form" enctype="multipart/form-data">
        <div class="am-u-sm-11 am-u-sm-push-1">
          <div class="am-panel am-panel-default">
            <div class="am-panel-bd">

              <!--已有商品图片则展示-->
              <ul v-if="albumImg" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" data-am-gallery="{  }" >
                <li v-for="item in albumImg">
                  <div class="am-gallery-item">
                    <img v-bind:src="item"/>
                  </div>
                </li>
              </ul>

              <!--上传商品图片-->
              <div id="uploader" v-bind:class="{'hide': albumImg}">
                <!--用来存放item-->
                <div id="fileList" class="uploader-list"></div>
                <div id="filePicker">选择图片</div>
              </div>
              <div v-cloak>{{uploadedTip}}</div>
            </div>
          </div>
        </div>

          <div class="am-form-group">
            <div class="am-u-sm-11 am-u-sm-push-1 am-padding-bottom">
              <button v-if="!albumImg" v-on:click="subAlbum()" type="button" class="am-btn am-btn-primary">
                添加相册
              </button>
              <button v-else v-on:click="deleteAlbum()" type="button" class="am-btn am-btn-danger" id="goods-edit">
                删除相册
              </button>
            </div>
          </div>

      </form>
    </div>
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script src="assets/js/webuploader.min.js"></script>
<script type="text/javascript">
//实例化Vue对象
  var addAlbumApp = new Vue({
    el: '#addAlbumApp',
    data: {
      albumImg: [],
      goodsId: '',
      thematicId: '',
      uploader: {},
      uploadedTip: '',
      uploadedNum: 0
    },
    created: function() {
      var that = this;
      //获取专题名称列表
      $.post('http://onebuy.ping-qu.com/Admin/Goods/albumList',
              {
                goods_id: getParam('goods_id')
              }
      ).done(function(res) {
        that.albumImg = res.data.albumList;
        that.goodsId = getParam('goods_id');
      }).fail(function() {
        alert("请求失败");
      });

      //初始化上传插件
      that.uploader = uploaderInit(
              'http://onebuy.ping-qu.com/Admin/Goods/albumAdd',//数据接收接口
              '#filePicker',//上传图片按钮
              'goods_album[]',//文件上传的name
              {//除文件以外上传的额外数据
                goods_id: getParam('goods_id')
              },
              '#fileList'
      );
    },
    methods: {
      subAlbum: function() {//添加相册
        var that = this;

        that.uploader.upload();//调用插件上传事件
        //开始上传流程是触发
        that.uploader.on('startUpload', function(file, response) {
          that.uploadedTip = "正在上传...";
        });
        //上传完一个文件时
        that.uploader.on('uploadSuccess', function(file, response) {
          that.uploadedTip = "已上传" + ++that.uploadedNum + "张图...";
        });
        //队列上传完成时
        that.uploader.on('uploadFinished', function() {
          that.uploadedTip = "上传完毕！";
        });

      },
      deleteAlbum: function() {//删除相册
        $.post('http://onebuy.ping-qu.com/Admin/Goods/albumDel', {goods_id: addAlbumApp.goodsId}).done(function(data) {
          if(data.errcode == 0){
            addAlbumApp.albumImg = null;//修改实例数据
          } else {
            alert("删除失败");
          }
        }).fail(function() {
          alert("请求失败");
        });
      }
    }
  });
</script>
</body>
</html>
