<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>文章添加与修改</title>
  <!--<meta name="description" content="这是一个 user 页面">-->
  <!--<meta name="keywords" content="user">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
  <!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />-->
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="addArticleApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">添加文章</strong> / <small>Add Article</small>
      </div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12">
        <form class="am-form am-form-horizontal">
          <div class="am-form-group">
            <label for="article-title" class="am-u-sm-3 am-form-label">标题 / Title</label>
            <div class="am-u-sm-9">
              <input v-model="title" type="text" name="article-title" placeholder="文章标题">
            </div>
          </div>

          <div class="am-u-sm-11 am-u-sm-push-1 am-margin-bottom">
            <script id="editor" type="text/plain" name="article-content" style="width:100%;height:360px;"></script>
          </div>

          <div class="am-form-group">
            <div class="am-u-sm-11 am-u-sm-push-1 am-padding-bottom">
              <button v-if="!articleId" v-on:click="addArticle()" type="button" class="am-btn am-btn-primary">
                确认添加
              </button>
              <button v-else v-on:click="editArticle()" type="button" class="am-btn am-btn-primary">
                保存修改
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>

<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>

<!--ueditor脚本-->
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--ueditor脚本-end-->

<script type="text/javascript">
  var addArticleApp = new Vue({
    el: '#addArticleApp',
    data: {
      title: '',
      content: '',
      articleId: '',
      editor: ''
    },
    created: function() {
      var that = this;

      if (getParam('article_id')) {
        $.post('/Admin/Article/articleOneDetail',
                {
                  article_id: getParam('article_id')
                }
        ).done(function(res) {
          that.title = res.data.article.title;
          that.content = res.data.article.content;
          that.articleId = getParam('article_id');
          //初始化编辑器
          that.editor = UE.getEditor('editor').ready(function() {
            this.setContent(addArticleApp.content);//为编辑器实例插入内容
            that.editor = this;
          });

        }).fail(function() {
          alert("请求失败");
        });
      } else {
        that.editor = UE.getEditor('editor');
      }
    },
    methods: {
      addArticle: function() {
        var that = this;
        that.content = that.editor.getContent();
        $.post('/Admin/Article/articleAdd',
                {
                  title: that.title,
                  content: that.content
                }
        ).done(function(res) {
          if(res.errcode == '0'){
            window.location = 'article-list.html';
          } else {
            alert("文章提交失败，请检查标题和内容是否填写");
          }
        }).fail(function() {
          alert("提交文章请求失败");
        });
      },
      editArticle: function() {
        var that = this;
        that.content = that.editor.getContent();
        $.post('/Admin/Article/articleEdit',
                {
                  id: that.articleId,
                  title: that.title,
                  content: that.content
                }
        ).done(function(res) {
          if(res.errcode == '0'){
            window.location = 'article-list.html';
          } else {
            alert("修改失败，请检查标题和内容是否填写");
          }
        }).fail(function() {
          alert("修改文章请求失败");
        });
      }
    }
  });
</script>
</body>
</html>
