<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>添加商品</title>
  <!--<meta name="description" content="这是一个 user 页面">-->
  <!--<meta name="keywords" content="user">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
  <!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />-->
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
  <link rel="stylesheet" href="assets/css/webuploader.css">
</head>
<body id="addThematicApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">专题信息</strong> / <small>Thematic information</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12">
        <form class="am-form am-form-horizontal" id="thematic-form">

          <div class="am-form-group">
            <label for="company" class="am-u-sm-3 am-form-label">专区 / company</label>
            <div class="am-u-sm-9">
              <select v-model="thematicData.company_id" name="company" placeholder="选择专区名">
                <option v-for="item in companyList" v-bind:value="item.id">
                  {{item.company_name}}
                </option>
              </select>
            </div>
          </div>

          <div class="am-form-group">
            <label for="thematic-name" class="am-u-sm-3 am-form-label">专题名 / Name</label>
            <div class="am-u-sm-9">
              <input type="text" v-model="thematicData.thematic_name" name="thematic_name" placeholder="专题名">
            </div>
          </div>

          <div class="am-form-group">
            <div class="am-u-sm-11 am-u-sm-push-1 am-padding-bottom">
              <button v-on:click="addThematic()" type="button" class="am-btn am-btn-primary" id="thematic-sub">添加专题</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>

<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script src="assets/js/webuploader.min.js"></script>
<script type="text/javascript">
  var addThematicApp = new Vue({
    el: '#addThematicApp',
    data: {
      companyList: [],
      thematicData: {
        company_id: '',
        thematic_name: ''
      }
    },
    created: function() {
      var that = this;
      //获取专区数据
      $.post('http://onebuy.ping-qu.com/Admin/Company/companyOneList').done(function(res) {
        that.companyList = res.data.company;
        that.thematicData.company_id = that.companyList[0].id;
      }).fail(function() {
        alert("专区数据获取失败");
      });
    },
    methods: {
      addThematic: function () {
        //添加专题
        $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicOneAdd', this.thematicData).done(function (res) {
          alert("专题添加成功");
          window.location = 'thematic-list.html';
        }).fail(function () {
          alert("专题添加失败");
        });
      }
    }
  });
</script>
</body>
</html>
