<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>管理员列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="administratorApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">管理员管理</strong> / <small>Manager</small>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover am-table-centered">
            <thead>
              <tr>
                <th>管理员ID</th>
                <th>管理员账户名</th>
                <th>管理员电话</th>
                <th>管理员邮箱</th>
                <th>管理员等级</th>
                <th>最后登录时间</th>
                <th>注册时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in administrators" v-cloak>
                <td>{{item.id}}</td>
                <td >{{item.manager_name}}</td>
                <td>{{item.manager_phone}}</td>
                <td>{{item.manager_email}}</td>
                <td>{{item.manager_level}}</td>
                <td>{{item.manager_endlogin}}</td>
                <td>{{item.add_time}}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <a href="administrator-detail.html?manager_id={{item.id}}" class="am-btn am-btn-primary am-btn-xs am-margin-right-sm">
                        <span class="am-icon-pencil-square-o"></span> 详情
                      </a>
                      <button v-on:click="deleteId = $index" type="button" class="am-btn am-btn-danger am-btn-xs" data-am-modal="{target: '#deleteTip'}">
                        <span class="am-icon-pencil-square-o"></span> 删除
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!--分页器-->
          <div class="am-cf">
            共 {{user.length}} 条记录
            <div class="am-fr">
              <ul class="am-pagination">
                <!--<li class="am-disabled"><a href="#">«</a></li>-->
                <li v-for="pageItem in page" v-on:click="pageTurn($event, pageItem)" v-bind:class="{'am-active': $index == 0}" v-cloak>
                  <a v-on:click.prevent="">{{pageItem}}</a>
                </li>
              </ul>
            </div>
          </div>

          <!--确认删除弹窗-->
          <div class="am-modal am-modal-alert" tabindex="-1" id="deleteTip">
            <div class="am-modal-dialog">
              <div class="am-modal-hd">删除提示</div>
              <div class="am-modal-bd">
                是否要删除订单？
              </div>
              <div class="am-modal-footer">
                <span v-on:click="deleteManager()" class="am-u-sm-6 am-text-center am-text-danger bd-right line-height-44 modal-btn">确定</span>
                <span v-on:click="closeModal()" class="am-u-sm-6 am-text-center am-text-primary line-height-44 modal-btn">取消</span>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">
  var administratorApp = new Vue({
    el: '#administratorApp',
    data: {
      administrators: [],
      deleteId: '',
      psize: 15,
      pageNum: '',
      page: []
    },
    created: function() {
      var that = this;
      $.post('http://onebuy.ping-qu.com/Admin/Manager/managerList',
              {
                psize: that.psize,
                pn: 1
              }
      ).done(function(res) {
        that.administrators = res.data.manager;

        //计算数据页数
        that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
        //初始化分页器数据
        for (var i = 0; i < that.pageNum; i++) {
          that.page.$set(i, i + 1);
        }

      }).fail(function() {
        alert("管理员数据请求失败");
      });
    },
    methods: {
      deleteManager: function(){
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Manager/managerDelete',
                {
                  id: that.administrators[that.deleteId].id
                }
        ).done(function(res) {
          if(res.errcode == '0'){
            if(that.deleteId == 0){
              that.administrators.shift();
            } else {
              that.administrators.splice(that.deleteId, 1);
            }
            $('#deleteTip').modal('close');
          } else {
            alert("删除失败");
          }
        }).fail(function() {
          alert("删除请求失败");
        });
      },
      closeModal: function() {
        $('#deleteTip').modal('close');
      },
      pageTurn: function(event, page) {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Manager/managerDelete',
                {
                  psize: that.psize,
                  pn: page
                }
        ).done(function(response) {
          that.administrators = response.data.manager;

          //为分页器页码设置激活状态
          $('.am-pagination li').removeClass('am-active');
          $(event.target.parentElement).addClass('am-active');

        }).fail(function() {
          alert("无法获得管理员数据");
        });
      }
    }
  });

</script>
</body>
</html>
