<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin table Examples</title>
  <!--<meta name="description" content="这是一个 table 页面">-->
  <!--<meta name="keywords" content="table">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
  <!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />-->
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="goodsListApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">商品列表</strong> / <small>Goods List</small>
      </div>
    </div>

    <div class="am-g am-form am-form-horizontal">
      <div class="am-form-group">
        <div class="am-u-sm-6">
          <label>专区选择</label>
          <select v-cloak v-on:change="thematicChange()" v-model="filterData.company_id" name="company_id">
            <option v-for="item in companyList" v-bind:value="item.id">
              {{item.company_name}}
            </option>
          </select>
        </div>
        <div class="am-u-sm-6">
          <label>专题选择</label>
          <select v-cloak v-on:change="loadGoods()" v-model="filterData.thematic_id" name="thematic_id">
            <option v-for="item in thematic" v-bind:value="item.id">
              {{item.thematic_name}}
            </option>
          </select>
        </div>
      </div>
    </div>

      <!--<div class="am-u-sm-12 am-u-md-3">-->
        <!--<div class="am-input-group am-input-group-sm">-->
          <!--<input type="text" class="am-form-field">-->
          <!--<span class="am-input-group-btn">-->
            <!--<button class="am-btn am-btn-default" type="button">搜索</button>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table v-cloak v-show="goods" class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
            <tr class="am-text-nowrap">
              <th>商品名称</th>
              <th>商品性质</th>
              <th>成本价</th>
              <th>销售价</th>
              <th>商品货号</th>
              <th>限购数量</th>
              <th>是否显示</th>
              <th>是否包邮</th>
              <th>添加时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
              <tr v-cloak v-for="item in goods">
                <td v-cloak>{{item.goods_name}}</td>
                <td v-cloak v-if="item.nature == null"></td>
                <td v-cloak v-if="item.nature == 0">实物</td>
                <td v-cloak v-if="item.nature == 1">虚拟</td>
                <td v-cloak>{{item.cost_price}}</td>
                <td v-cloak>{{item.price}}</td>
                <td v-cloak>{{item.goods_sn}}</td>
                <td v-cloak>{{item.limit_num}}</td>
                <td v-cloak v-if="item.is_show == 1">显示</td>
                <td v-cloak v-else>不显示</td>
                <td v-cloak v-if="item.free_post == 1">包邮</td>
                <td v-cloak v-else>不包邮</td>
                <td v-cloak>{{item.add_time}}</td>
                <td>
                  <a href="add-goods.html?goods_id={{item.id}}&company_id={{filterData.company_id}}" class="am-btn am-btn-default am-btn-xs">
                    <span class="am-icon-pencil-square-o"></span> 查看详情
                  </a>
                  <a href="add-album.html?goods_id={{item.id}}" class="am-btn am-btn-primary am-btn-xs">
                    <span class="am-icon-pencil-square-o"></span> 商品相册
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div v-cloak v-if="!goods" class="am-text-center am-text-lg am-padding-vertical-lg">
            <strong>该专题未添加商品</strong>
          </div>

          <!--分页器-->
          <div v-cloak class="am-cf">
            共 {{goods.length}}<span v-cloak v-if="!goods">0</span> 条记录
            <div class="am-fr">
              <ul class="am-pagination">
                <!--<li class="am-disabled"><a href="#">«</a></li>-->
                <li v-for="pageItem in page" v-on:click="pageTurn($event, pageItem)" v-bind:class="{'am-active': $index == 0}" v-cloak>
                  <a v-on:click.prevent="">{{pageItem}}</a>
                </li>
              </ul>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">
  var goodsListApp = new Vue({
    el: '#goodsListApp',
    data: {
      goods: [],
      filterData: {
        company_id: '',
        thematic_id: ''
      },
      companyList: [],
      thematic: [],
      psize: 15,
      pageNum: '',
      page: []
    },
    created: function() {
      var that = this;
      if (getParam('thematic_id') && getParam('company_id')) {//添加完商品跳转到此页时
        //获取专区数据
        $.post('http://onebuy.ping-qu.com/Admin/Company/companyOneList').done(function(res) {
          that.companyList = res.data.company;
          that.filterData.company_id = getParam('company_id');
        }).fail(function() {
          alert("专区数据加载失败");
        });
        //获取专题名称列表
        $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicSelect',
                {
                  company_id: getParam('company_id')
                }
        ).done(function(res) {
          that.thematic = res.data.thematicSelect;
          that.filterData.thematic_id = getParam('thematic_id');
        }).fail(function() {
          alert("专题数据加载失败");
        });

        //获取商品数据
        $.post('http://onebuy.ping-qu.com/Admin/Goods/goodsList',
                {
                  thematic_id: getParam('thematic_id'),
                  company_id: getParam('company_id'),
                  psize: that.psize,
                  pn: 1
                }
        ).done(function(res) {
          that.goods = res.data.goodspage;

          //计算数据页数
          that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
          //初始化分页器数据
          for (var i = 0; i < that.pageNum; i++) {
            that.page.$set(i, i + 1);
          }

        }).fail(function() {
          alert("获取商品数据失败");
        });
      } else {//从导航进入商品列表页时
        //获取专区数据
        $.post('http://onebuy.ping-qu.com/Admin/Company/companyOneList').done(function(res) {
          that.companyList = res.data.company;
          that.filterData.company_id = that.companyList[0].id;

          //获取专题名称列表
          $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicSelect',
                  {
                    company_id: that.filterData.company_id
                  }
          ).done(function(res2) {
            that.thematic = res2.data.thematicSelect;
            if (!that.thematic) {
              that.thematic = [{id: 0, thematic_name: '无'}];
            }
            that.filterData.thematic_id = that.thematic[0].id;

            //获取商品数据
            $.post('http://onebuy.ping-qu.com/Admin/Goods/goodsList',
                    {
                      thematic_id: that.filterData.thematic_id,
                      company_id: that.filterData.company_id,
                      psize: that.psize,
                      pn: 1
                    }
            ).done(function(res3) {
              that.goods = res3.data.goodspage;

              //计算数据页数
              that.pageNum = Math.ceil(res3.data.pageInfo.dataSize / res3.data.pageInfo.psize);
              //初始化分页器数据
              for (var i = 0; i < that.pageNum; i++) {
                that.page.$set(i, i + 1);
              }

            }).fail(function() {
              alert("请求失败");
            });
          }).fail(function() {
            alert("请求失败");
          });
        }).fail(function() {
          alert("专区数据获取失败");
        });
      }

    },
    methods: {
      thematicChange:function() {//当专区改变，重新获取专题选项
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicSelect',
                {
                  company_id: that.filterData.company_id
                }
        ).done(function(res) {
          that.thematic = res.data.thematicSelect;
          that.filterData.thematic_id = that.thematic[0].id;
          that.loadGoods();
        }).fail(function() {
          alert("请求失败");
        });
      },
      loadGoods: function() {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Goods/goodsList',
                {
                  company_id: that.filterData.company_id,
                  thematic_id: that.filterData.thematic_id,
                  psize: that.psize,
                  pn: 1
                }
        ).done(function(res) {
          that.goods = res.data.goodspage;

          //计算数据页数
          that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
          //初始化分页器数据
          for (var i = 0; i < that.pageNum; i++) {
            that.page.$set(i, i + 1);
          }

        }).fail(function() {
          alert("请求失败");
        });
      },
      pageTurn: function(event, page) {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Goods/goodsList',
                {
                  company_id: that.filterData.company_id,
                  thematic_id: that.filterData.thematic_id,
                  psize: that.psize,
                  pn: page
                }
        ).done(function(response) {
          that.goods = response.data.goodspage;

          //为分页器页码设置激活状态
          $('.am-pagination li').removeClass('am-active');
          $(event.target.parentElement).addClass('am-active');

        }).fail(function() {
          alert("无法获得商品数据");
        });
      }
    }
  });

</script>
</body>
</html>
