<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>一元购后台管理系统</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
  <link rel="stylesheet" href="assets/css/webuploader.css">
</head>
<body id="adminIndexApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <sidebar></sidebar>
    <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页海报管理</strong> / <small>Index Poster</small></div>
    </div>

    <div class="am-g am-form am-form-horizontal">
      <div class="am-form-group">
        <label class="am-u-sm-2 am-text-right">专区选择</label>
        <div class="am-u-sm-4 am-u-end">
          <select v-cloak v-on:change="loadPoster()" v-model="companyId" name="company_id">
            <option v-for="item in companyList" v-bind:value="item.id">{{item.company_name}}</option>
          </select>
        </div>
      </div>
    </div>

    <!--首页海报列表-->
    <table v-if="poster" class="am-table am-table-striped am-table-hover table-main am-table-centered">
      <thead>
      <tr>
        <th>广告图名字</th>
        <th>广告链接</th>
        <th>图片</th>
        <th>添加时间</th>
        <th>更新时间</th>
        <td>操作</td>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in poster | orderBy 'sort_order'">
        <td>{{item.adv_name}}</td>
        <td>{{item.adv_url}}</td>
        <td>
          <img v-bind:src="item.adv_img" width="150">
        </td>
        <td>{{item.add_time}}</td>
        <td>{{item.update_time}}</td>
        <td>
          <button v-on:click="edit($index)" type="button" class="am-btn am-btn-primary am-btn-xs">
            <span class="am-icon-pencil-square-o"></span> 修改
          </button>
          <button v-on:click="deleteId = $index" type="button" class="am-btn am-btn-danger am-btn-xs" data-am-modal="{target: '#deleteTip'}">
            <span class="am-icon-times"></span> 删除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div v-cloak v-else class="am-text-center am-text-lg am-padding-vertical-lg">
      <strong>该专区未添加海报</strong>
    </div>

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加海报</strong> / <small>Add Poster</small></div>
    </div>
    <div class="am-form am-padding-horizontal-sm">
      <div class="am-form-group">
        <label for="company" class="am-form-label">专区</label>
        <select v-model="formData.company_id" name="company">
          <option v-for="item in companyList" v-bind:value="item.id" v-cloak>
            {{item.company_name}}
          </option>
        </select>
      </div>

      <div class="am-form-group">
        <label for="adv_url" class="am-form-label">广告地址</label>
        <div>
          <input v-model="formData.adv_url" type="text" name="adv_url" placeholder="url">
        </div>
      </div>

      <div class="am-form-group">
        <label for="adv_name" class="am-form-label">广告名称</label>
        <div>
          <input v-model="formData.adv_name" type="text" name="adv_name" placeholder="广告名称">
        </div>
      </div>
    </div>

    <!--上传首页海报-->
    <div id="uploader" v-bind:class="{'hide': albumImg}" class="am-padding-horizontal-sm">
      <!--用来存放item-->
      <div id="fileList" class="uploader-list"></div>
      <div id="filePicker" class="am-inline-block">选择图片</div>
      <button v-on:click="clearImg()" class="am-btn am-btn-danger am-inline-block"
              style="vertical-align: top; height: 45px; border-radius: 3px;" type="button">
        清空图片
      </button>
      <button v-on:click="uploadPoster()" class="am-btn am-btn-success am-inline-block"
              style="vertical-align: top; height: 45px; border-radius: 3px;" type="button">
        上传
      </button>
      <div v-cloak>{{uploadedTip}}</div>

    </div>

    <!--<input type="text">-->


  </div>

  <!-- content end -->

</div>

<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
  <span class="am-icon-btn am-icon-th-list"></span>
</a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--删除确认弹框-->
<div class="am-modal am-modal-alert" tabindex="-1" id="deleteTip">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">删除提示</div>
    <div class="am-modal-bd">
      是否要删除海报？
    </div>
    <div class="am-modal-footer">
      <span v-on:click="deletePoster()" class="am-u-sm-6 am-text-center am-text-danger bd-right line-height-44 modal-btn">
        确定
      </span>
      <span class="am-modal-btn am-u-sm-6 am-text-center am-text-primary line-height-44 modal-btn">
        取消
      </span>
    </div>
  </div>
</div>
<!--删除确认弹框 end-->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script src="assets/js/webuploader.min.js"></script>
<script type="text/javascript">
  //实例化Vue对象
  var adminIndexApp = new Vue({
    el: '#adminIndexApp',
    data: {
      poster: [],//海报
      uploader: {},//上传插件实例
      uploadedTip: '',//上传提示
      uploadedNum: 0,
      formData: {//添加海报时除图片外的额外数据
        advertisement_id: '',//海报id
        adv_url: '',
        adv_name:'',
        company_id: ''
      },
      deleteId: '',//即将删除的海报的索引
      companyList: [],//专区列表
      companyId: ''//用于筛选不同专区海报
    },
    created: function() {
      var that = this;

      //获取专区数据
      $.post('http://onebuy.ping-qu.com/Admin/Company/companyOneList').done(function(res) {
        that.companyList = res.data.company;
        that.companyId = that.companyList[0].id;
        that.formData.company_id = that.companyList[0].id;

        //获取所有海报数据
        $.post('http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneList',
                {
                  company_id: that.companyId
                }
        ).done(function(res) {
          that.poster = res.data.advertisement;
        }).fail(function() {
          alert("海报数据获取失败");
        });

      }).fail(function() {
        alert("专区数据获取失败");
      });

      //初始化上传插件
      that.uploader = uploaderInit(
              'http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneAdd',//数据接收接口
              '#filePicker',//上传图片按钮
              'adv_img[]',//文件上传的name
              {//除文件以外上传的额外数据
                advertisement_id: '',//海报id
                adv_name: '',
                adv_url: '',
                company_id: ''
              },
              '#fileList',
              1//限制上传数量
      );
    },
    methods: {
      uploadPoster: function() {//上传海报or修改
        var that = this;
        if (that.uploader.getFiles().length > 0) {//添加海报 or 修改海报（有图）

          if (that.formData.advertisement_id) {//修改海报有图时修改上传地址
            that.uploader.options.server = 'http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneEdit';
          } else {//添加海报时修改上传地址
            that.uploader.options.server = 'http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneAdd';
          }

          that.uploader.options.formData = that.formData;//更新上传的表单数据

          that.uploader.upload();//调用插件上传事件

          //开始上传流程时触发
          that.uploader.on('startUpload', function(file, response) {
            that.uploadedTip = "正在上传...";
          });

          //上传完一个文件时
          that.uploader.on('uploadSuccess', function(file, response) {
            that.uploadedTip = "已上传" + ++that.uploadedNum + "张图...";
          });

          //队列上传完成时
          that.uploader.on('uploadFinished', function() {
            that.uploadedTip = "上传完毕！";
            that.companyId = that.formData.company_id;//更改筛选数据的专区id，显示相应专区数据
            //获取所有海报数据
            $.post('http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneList',
                    {
                      company_id: that.companyId
                    }
            ).done(function(res) {
              that.poster = res.data.advertisement;
            }).fail(function() {
              alert("海报数据获取失败");
            });

            //清空表单数据
            that.formData.adv_name = '';
            that.formData.adv_url = '';
            that.formData.advertisement_id = null;
            //清空上传队列，清空缩略图容器
            that.uploader.reset();
            $('#fileList').empty();

          });
        } else {//修改海报（无图）
          $.post('http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneEdit', that.formData).done(function(res) {
            alert("修改成功");
            //获取所有海报数据
            $.post('http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneList',
                    {
                      company_id: that.companyId
                    }
            ).done(function(res) {
              that.poster = res.data.advertisement;
            }).fail(function() {
              alert("海报数据获取失败");
            });

            //清空表单
            that.formData.adv_name = '';
            that.formData.adv_url = '';
            that.formData.advertisement_id = null;

          }).fail(function() {
            alert("修改海报请求失败");
          });
        }

      },
      edit: function(index) {//点击修改按钮后，将相应记录的数据添加到表单数据中
        this.formData.advertisement_id = this.poster[index].id;
        this.formData.adv_name = this.poster[index].adv_name;
        this.formData.adv_url = this.poster[index].adv_url;
        this.formData.company_id = this.companyId;
      },
      deletePoster: function() {
        var that = this;
        //删除海报数据
        $.post('http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneDelete',
                {
                  id: that.poster[that.deleteId].id
                }
        ).done(function(res) {
          that.poster.splice(that.deleteId, 1);
          $('#deleteTip').modal('close');
        }).fail(function() {
          alert("删除请求失败！");
        });

      },
      clearImg: function() {//清空已选择的图片
        this.uploader.reset();
        $('#fileList').empty();
      },
      loadPoster: function() {//更换专区后加载海报
        var that = this;
        //获取所有海报数据
        $.post('http://onebuy.ping-qu.com/Admin/Advertisement/advertisementOneList',
                {
                  company_id: that.companyId
                }
        ).done(function(res) {
          that.poster = res.data.advertisement;
        }).fail(function() {
          alert("海报数据获取失败");
        });
      }
    }
  });


</script>
</body>
</html>
