<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>中奖情况</title>
  <!--<meta name="description" content="这是一个 table 页面">-->
  <!--<meta name="keywords" content="table">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
  <!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />-->
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="prizeStatusApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">中奖情况</strong> / <small>Prize Status</small>
      </div>
    </div>

    <div class="am-g am-form am-form-horizontal">
      <div class="am-form-group">
        <div class="am-u-sm-6">
          <label>专区选择</label>
          <select v-cloak v-on:change="thematicChange()" v-model="filterData.company_id" name="company_id">
            <option v-for="item in companyList" v-bind:value="item.id">
              {{item.company_name}}
            </option>
          </select>
        </div>
        <div class="am-u-sm-6">
          <label>专题选择</label>
          <select v-cloak v-on:change="loadData()" v-model="filterData.thematic_id" name="thematic_id">
            <option v-for="item in thematicList" v-bind:value="item.id">
              {{item.thematic_name}}
            </option>
          </select>
        </div>
      </div>

      <form class="am-form">
        <table v-show="prizeInfo" class="am-table am-table-striped am-table-hover table-main am-table-centered">
          <thead>
            <tr>
              <th class="am-text-middle">商品名称</th>
              <th class="am-text-middle">销售价</th>
              <th class="am-text-middle">中奖者头像</th>
              <th class="am-text-middle">中奖者昵称</th>
              <th class="am-text-middle">获奖认购码</th>
              <th class="am-text-middle">该商品添加时间</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in prizeInfo">
              <td class="am-text-middle">{{item.goods_name}}</td>
              <td class="am-text-middle">{{item.price}}</td>
              <td class="am-text-middle">
                <img v-bind:src="item.user_img" class="am-round" width="50">
              </td>
              <td class="am-text-middle">{{item.nickname}}</td>
              <td class="am-text-middle">{{item.code}}</td>
              <td class="am-text-middle">{{item.add_time}}</td>
            </tr>
          </tbody>
        </table>
        <div v-if="!prizeInfo" class="am-text-center am-text-lg am-padding-vertical-lg">
          <strong>无已揭晓商品</strong>
        </div>

        <!--分页器-->
        <div v-cloak class="am-cf">
          共 {{prizeInfo.length}}<span v-cloak v-if="!prizeInfo">0</span> 条记录
          <div class="am-fr">
            <ul class="am-pagination">
              <!--<li class="am-disabled"><a href="#">«</a></li>-->
              <li v-for="pageItem in page" v-on:click="pageTurn($event, pageItem)" v-bind:class="{'am-active': $index == 0}" v-cloak>
                <a v-on:click.prevent="">{{pageItem}}</a>
              </li>
            </ul>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">
  var prizeStatusApp = new Vue({
    el: '#prizeStatusApp',
    data: {
      prizeInfo: [],
      filterData: {
        thematic_id: '',
        company_id: ''
      },
      companyList: [],
      thematicList: [],
      psize: 15,
      pageNum: '',
      page: []
    },
    created: function() {
      var that = this;

      //获取专区数据
      $.post('http://onebuy.ping-qu.com/Admin/Company/companyOneList').done(function(companyData) {
        that.companyList = companyData.data.company;
        that.filterData.company_id = that.companyList[0].id;

        //获取专题名称列表
        $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicSelect',
                {
                  company_id: that.filterData.company_id
                }
        ).done(function(res) {
          that.thematicList = res.data.thematicSelect;
          that.filterData.thematic_id = that.thematicList[0].id;
            $.post('http://onebuy.ping-qu.com/Admin/Sale/beforeRecordList',
                    {
                      company_id: that.filterData.company_id,
                      thematic_id: that.filterData.thematic_id,
                      psize: that.psize,
                      pn: 1
                    }
            ).done(function(res2) {
              that.prizeInfo = res2.data.luckypage;

              //计算数据页数
              that.pageNum = Math.ceil(res2.data.pageInfo.dataSize / res2.data.pageInfo.psize);
              //初始化分页器数据
              for (var i = 0; i < that.pageNum; i++) {
                that.page.$set(i, i + 1);
              }

            }).fail(function() {
              alert("中奖数据请求失败");
            });

        }).fail(function() {
          alert("专题数据加载失败");
        });
      }).fail(function() {
        alert("专区数据加载失败");
      });
    },
    methods: {
      thematicChange: function() {//当专区改变，重新获取专题选项
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicSelect',
                {
                  company_id: that.filterData.company_id
                }
        ).done(function(res) {
          that.thematicList = res.data.thematicSelect;
          that.filterData.thematic_id = that.thematicList[0].id;
          that.loadSaleData();

        }).fail(function() {
          alert("专题列表请求失败");
        });
      },
      loadData: function() {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Sale/beforeRecordList',
                {
                  company_id: that.filterData.company_id,
                  thematic_id: that.filterData.thematic_id,
                  psize: that.psize,
                  pn: 1
                }
        ).done(function(res) {
          that.prizeInfo = res.data.luckypage;

          //计算数据页数
          that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
          //初始化分页器数据
          for (var i = 0; i < that.pageNum; i++) {
            that.page.$set(i, i + 1);
          }

        }).fail(function() {
          alert("请求失败");
        });
      },
      pageTurn: function(event, page) {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Sale/beforeRecordList',
                {
                  thematic_id: that.filterData.thematic_id,
                  company_id: that.filterData.company_id,
                  psize: that.psize,
                  pn: page
                }
        ).done(function(response) {
          that.prizeInfo = response.data.luckypage;

          //为分页器页码设置激活状态
          $('.am-pagination li').removeClass('am-active');
          $(event.target.parentElement).addClass('am-active');

        }).fail(function() {
          alert("无法获得中奖数据");
        });
      }
    }
  });

</script>
</body>
</html>
