<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>销售明细</title>
  <!--<meta name="description" content="这是一个 table 页面">-->
  <!--<meta name="keywords" content="table">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
  <!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />-->
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="saleListApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">商品销售明细列表</strong> / <small>Goods Sale List</small>
      </div>
    </div>

    <div class="am-g am-form am-form-horizontal">
      <div class="am-form-group">
        <div class="am-u-sm-6">
          <label>专区选择</label>
          <select v-cloak v-on:change="thematicChange()" v-model="filterData.company_id" name="company_id">
            <option v-for="item in companyList" v-bind:value="item.id">
              {{item.company_name}}
            </option>
          </select>
        </div>
        <div class="am-u-sm-6">
          <label>专题选择</label>
          <select v-cloak v-on:change="loadSaleData()" v-model="filterData.thematic_id" name="thematic_id">
            <option v-for="item in thematicList" v-bind:value="item.id">
              {{item.thematic_name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table v-show="filterData.thematic_id" class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
            <tr>
              <th class="am-text-middle">商品名称</th>
              <th class="am-text-middle">销售价</th>
              <th class="am-text-middle">添加时间</th>
              <th class="am-text-middle">商品总数</th>
              <th class="am-text-middle">已购买数量</th>
              <th class="am-text-middle">剩余数量</th>
              <th class="am-text-middle">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-cloak v-for="item in goods">
              <td class="am-text-middle">{{item.goods_name}}</td>
              <td class="am-text-middle">{{item.price}}</td>
              <td class="am-text-middle">{{item.add_time}}</td>
              <td class="am-text-middle">{{item.total_num}}</td>
              <td class="am-text-middle">{{item.purchase_num}}</td>
              <td class="am-text-middle">{{item.last_num}}</td>
              <td class="am-text-middle">
                <a href="sale-detail.html?goods_id={{item.id}}" class="am-btn am-btn-primary am-btn-xs">
                  <span class="am-icon-pencil-square-o"></span> 查看详情
                </a>
              </td>
            </tr>
            </tbody>
          </table>

          <!--分页器-->
          <div v-cloak class="am-cf">
            共 {{goods.length}}<span v-cloak v-if="!goods">0</span> 条记录
            <div class="am-fr">
              <ul class="am-pagination">
                <!--<li class="am-disabled"><a href="#">«</a></li>-->
                <li v-for="pageItem in page" v-on:click="pageTurn($event, pageItem)" v-bind:class="{'am-active': $index == 0}" v-cloak>
                  <a v-on:click.prevent="">{{pageItem}}</a>
                </li>
              </ul>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">
  var saleListApp = new Vue({
    el: '#saleListApp',
    data: {
      goods: [],
      filterData: {
        thematic_id: '',
        company_id: ''
      },
      companyList: [],
      thematicList: [],
      psize: 15,
      pageNum: '',
      page: []
    },
    created: function() {
      var that = this;
      //获取专区数据
      $.post('http://onebuy.ping-qu.com/Admin/Company/companyOneList').done(function(res) {
        that.companyList = res.data.company;
        that.filterData.company_id = that.companyList[0].id;

        //获取专题名称列表
        $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicSelect',
                {
                  company_id: that.filterData.company_id
                }
        ).done(function(res2) {
          that.thematicList = res2.data.thematicSelect;

          //如果该专区没有专题
          if (!that.thematicList) {
            that.thematicList = [{id: 0, thematic_name: '无'}];
          }

          that.filterData.thematic_id = that.thematicList[0].id;

          //获取销售数据
          $.post('http://onebuy.ping-qu.com/Admin/Sale/goodsSaleRecordList',
                  {
                    company_id: that.filterData.company_id,
                    thematic_id: that.filterData.thematic_id,
                    psize: that.psize,
                    pn: 1
                  }
          ).done(function(res3) {
            that.goods = res3.data.goodspage;

            //计算数据页数
            that.pageNum = Math.ceil(res3.data.pageInfo.dataSize / res3.data.pageInfo.psize);
            //初始化分页器数据
            for (var i = 0; i < that.pageNum; i++) {
              that.page.$set(i, i + 1);
            }

          }).fail(function() {
            alert("销售数据请求失败");
          });
        }).fail(function() {
          alert("专题数据请求失败");
        });
      }).fail(function() {
        alert("专区数据获取失败");
      });
    },
    methods: {
      thematicChange:function() {//当专区改变，重新获取专题选项
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicSelect',
                {
                  company_id: that.filterData.company_id
                }
        ).done(function(res) {
          that.thematicList = res.data.thematicSelect;
          that.filterData.thematic_id = that.thematicList[0].id;
          that.loadSaleData();

        }).fail(function() {
          alert("专题列表请求失败");
        });
      },
      loadSaleData: function() {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Sale/goodsSaleRecordList',
                {
                  company_id: that.filterData.company_id,
                  thematic_id: that.filterData.thematic_id,
                  psize: that.psize,
                  pn: 1
                }
        ).done(function(res) {
          that.goods = res.data.goodspage;

          //计算数据页数
          that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
          //初始化分页器数据
          for (var i = 0; i < that.pageNum; i++) {
            that.page.$set(i, i + 1);
          }

        }).fail(function() {
          alert("请求失败");
        });
      },
      pageTurn: function(event, page) {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/Sale/goodsSaleRecordList',
                {
                  company_id: that.filterData.company_id,
                  thematic_id: that.filterData.thematic_id,
                  psize: that.psize,
                  pn: page
                }
        ).done(function(response) {
          that.goods = response.data.goodspage;

          //为分页器页码设置激活状态
          $('.am-pagination li').removeClass('am-active');
          $(event.target.parentElement).addClass('am-active');

        }).fail(function() {
          alert("无法获得销售数据");
        });
      }
    }
  });

</script>
</body>
</html>
