<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>销售详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="saleDetailApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">商品销售详情</strong> / <small>Goods Sale List</small>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
            <tr>
              <th>用户头像</th>
              <th>昵称</th>
              <th>购买数量</th>
              <th>购买时间</th>
              <th>手机号码</th>
              <th>认购码</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in detail">
              <td class="am-text-middle">
                <img v-bind:src="item.user_img" class="am-round" width="50">
              </td>
              <td class="am-text-middle">{{item.nickname}}</td>
              <td class="am-text-middle">{{item.num}}</td>
              <td class="am-text-middle">{{item.add_time}}</td>
              <td class="am-text-middle">{{item.phone}}</td>
              <td class="am-text-middle">
                <div v-on:click="showCode($index)" class="am-btn am-btn-primary am-btn-xs">
                  <span class="am-icon-eye"></span> 查看
                </div>
                <!--<div v-for="code in item.code">{{code}}</div>-->
              </td>
            </tr>
            </tbody>
          </table>

          <!--分页器-->
          <div class="am-cf">
            共 {{detail.length}}<span v-cloak v-if="!detail">0</span> 条记录
            <div class="am-fr">
              <ul class="am-pagination">
                <!--<li class="am-disabled"><a href="#">«</a></li>-->
                <li v-for="pageItem in page" v-on:click="pageTurn($event, pageItem)" v-bind:class="{'am-active': $index == 0}" v-cloak>
                  <a v-on:click.prevent="">{{pageItem}}</a>
                </li>
              </ul>
            </div>
          </div>
          <!--分页器 end-->

        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--查看认购码弹窗-->
<div class="am-modal am-modal-alert" tabindex="-1" id="code-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">用户名：{{codeModalData.nickname}}</div>
    <div class="am-modal-bd am-text-left" style="overflow-y: scroll; height: 352px; border: none;">
      <span v-for="code in codeModalData.code" class="am-inline-block am-padding-vertical-sm am-margin-right-sm">{{code}}</span>
    </div>
  </div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">
  var saleDetailApp = new Vue({
    el: '#saleDetailApp',
    data: {
      detail: [],
      goodsId: getParam('goods_id'),
      codeModalData: {},
      psize: 15,
      pageNum: '',
      page: []
    },
    created: function() {
      var that = this;
      //获取单个商品销售详情
      $.post('/Admin/Sale/oneGoodSaleList',
              {
                goods_id: that.goodsId,
                psize: that.psize,
                pn: 1
              }
      ).done(function(res) {
        that.detail = res.data.onegoodspage;

        //计算数据页数
        that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
        //初始化分页器数据
        for (var i = 0; i < that.pageNum; i++) {
          that.page.$set(i, i + 1);
        }

      }).fail(function() {
        alert("请求失败");
      });
    },
    methods: {
      showCode: function(index) {
        this.codeModalData = this.detail[index];
        $('#code-modal').modal({
          height: 400
        });
        $('#code-modal').modal('open');
      },
      pageTurn: function(event, page) {
        var that = this;
        $.post('/Admin/Sale/oneGoodSaleLis',
                {
                  goods_id: that.goodsId,
                  psize: that.psize,
                  pn: page
                }
        ).done(function(response) {
          that.detail = response.data.onegoodspage;

          //为分页器页码设置激活状态
          $('.am-pagination li').removeClass('am-active');
          $(event.target.parentElement).addClass('am-active');

        }).fail(function() {
          alert("无法获得用户数据");
        });
      }
    }
  });



</script>
</body>
</html>
