<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>专题详情</title>
  <!--<meta name="description" content="这是一个 user 页面">-->
  <!--<meta name="keywords" content="user">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
  <!--<meta name="apple-mobile-web-app-title" content="一元购" />-->
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="thematicDetailApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">专题信息</strong> / <small>Thematic information</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12">
        <form class="am-form am-form-horizontal" id="thematic-form">
          <div class="am-form-group am-hide">
            <label for="id" class="am-u-sm-3 am-form-label">专题ID / ID</label>
            <div class="am-u-sm-9">
              <input v-model="thematicDetail.id" type="text" name="id" placeholder="专题名">
            </div>
          </div>
          <div class="am-form-group">
            <label for="thematic-name" class="am-u-sm-3 am-form-label">专题名 / Name</label>
            <div class="am-u-sm-9">
              <input v-model="thematicName" type="text" placeholder="专题名">
            </div>
          </div>

          <div class="am-form-group">
            <label for="status" class="am-u-sm-3 am-form-label">专题状态 / Status</label>
            <div class="am-u-sm-9">
              <select v-model="thematicStatus">
                <option value="0">进行中</option>
                <option value="1">即将揭晓</option>
                <option value="2">已揭晓</option>
              </select>
            </div>
          </div>

          <div class="am-form-group">
            <label for="is_show" class="am-u-sm-3 am-form-label">是否在前台显示 / isShow</label>
            <div class="am-u-sm-9">
              <select v-model="thematicShow">
                <option value="0">否</option>
                <option value="1">是</option>
              </select>
            </div>
          </div>

          <div class="am-form-group">
            <label for="update_time" class="am-u-sm-3 am-form-label">修改时间 / EditTime</label>
            <div class="am-u-sm-9">
              <input v-bind:value="thematicDetail.update_time | date" type="text" name="update_time" disabled>
            </div>
          </div>

          <div class="am-form-group">
            <label for="add_time" class="am-u-sm-3 am-form-label">添加时间 / AddTime</label>
            <div class="am-u-sm-9">
              <input v-bind:value="thematicDetail.add_time | date " type="text" name="add_time" disabled>
            </div>
          </div>

          <div class="am-form-group">
            <div class="am-u-sm-11 am-u-sm-push-1 am-padding-bottom">
              <button v-on:click="edit()" type="button" class="am-btn am-btn-primary">保存修改</button>
              <button v-on:click="deleteThematic()" type="button" class="am-btn am-btn-danger am-margin-left-sm" id="thematic-save">删除专题</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">

  var thematicDetailApp = new Vue({
    el: '#thematicDetailApp',
    data: {
      thematicDetail: {},
      thematicName: '',
      thematicNature: '',
      thematicStatus: '',
      thematicShow: ''
    },
    created: function() {
      $.post('/Admin/Thematic/thematicOneDetail',
              {
                thematic_id: getParam('thematic_id')
              }
      ).done(function(res) {
        thematicDetailApp.thematicDetail = res.data.thematic;
        thematicDetailApp.thematicName = res.data.thematic.thematic_name;
        thematicDetailApp.thematicNature = res.data.thematic.nature;
        thematicDetailApp.thematicStatus = res.data.thematic.status;
        thematicDetailApp.thematicShow = res.data.thematic.is_show;
      }).fail(function() {
        alert("请求失败");
      });
    },
    methods: {
      deleteThematic: function() {
        $.post('/Admin/Thematic/thematicOneDelete',
                {
                  thematic_id: this.thematicDetail.id
                }
        ).done(function() {
          alert("删除成功");
          history.back();
        }).fail(function() {
          alert("请求失败");
        });
      },
      edit:function() {
        var that = this;
        $.post('/Admin/Thematic/thematicOneEdit',
                {
                  thematic_id: that.thematicDetail.id,
                  thematic_name: that.thematicName,
                  status: that.thematicStatus,
                  is_show: that.thematicShow
                }
        ).done(function(res) {
          if (res.errcode == '0') {
            alert("修改成功");
            history.back();
          } else {
            alert("修改失败");
          }
        }).fail(function() {
          alert("修改请求失败");
        });
      }
    }
  });
</script>
</body>
</html>
