<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>专题列表</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="thematicListApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>一元购</strong> <small>后台管理系统</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li>
          <a href="index.html">
            <span class="am-icon-home"></span> 首页
          </a>
        </li>
        <li>
          <a href="user.html">
            <span class="am-icon-users"></span> 会员管理
          </a>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#goods-nav'}">
            <span class="am-icon-shopping-cart"></span> 商品管理
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="goods-nav">
            <li>
              <a href="add-goods.html" class="am-cf">
                <span class="am-icon-plus"></span> 添加商品
              </a>
            </li>
            <li>
              <a href="goods-list.html" class="am-cf">
                <span class="am-icon-list-alt"></span> 商品列表
              </a>
            </li>
          </ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#thematic-nav'}">
            <span class="am-icon-bookmark"></span> 专题管理
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="thematic-nav">
            <li>
              <a href="add-thematic.html" class="am-cf">
                <span class="am-icon-plus"></span> 添加专题
              </a>
            </li>
            <li>
              <a href="thematic-list.html" class="am-cf">
                <span class="am-icon-list-alt"></span> 专题列表
              </a>
            </li>
          </ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#article-nav'}">
            <span class="am-icon-newspaper-o"></span> 文章管理
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="article-nav">
            <li>
              <a href="add-article.html" class="am-cf">
                <span class="am-icon-plus"></span> 发表文章
              </a>
            </li>
            <li>
              <a href="article-list.html" class="am-cf">
                <span class="am-icon-list-alt"></span> 文章列表
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="sale-list.html">
            <span class="am-icon-money"></span> 销售明细
          </a>
        </li>
        <li>
          <a href="prize-status.html">
            <span class="am-icon-gift"></span> 中奖情况
          </a>
        </li>
        <li>
          <a href="order.html">
            <span class="am-icon-file-text"></span> 订单管理
          </a>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#logistics-nav'}">
            <span class="am-icon-truck"></span> 物流管理
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="logistics-nav">
            <li>
              <a href="add-logistics.html" class="am-cf">
                <span class="am-icon-plus"></span> 添加物流单
              </a>
            </li>
            <li>
              <a href="logistics-list.html" class="am-cf">
                <span class="am-icon-list-alt"></span> 物流单列表
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="administrator.html">
            <span class="am-icon-user"></span> 后台管理员管理
          </a>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#system-nav'}">
            <span class="am-icon-gears"></span> 系统设置
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="system-nav">
            <li>
              <a href="limit-set.html" class="am-cf">
                <span class="am-icon-list-alt"></span> 认购上限设置
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span class="am-icon-sign-out"></span> 注销
          </a>
        </li>
      </ul>

    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">专题列表</strong> / <small>Thematic List</small>
      </div>
    </div>

    <!--<div class="am-g">-->
      <!--<div class="am-u-sm-12 am-u-md-3">-->
        <!--<div class="am-form-group">-->
          <!--<select data-am-selected="{btnSize: 'sm'}">-->
            <!--<option value="0" selected>实物</option>-->
            <!--<option value="1">虚拟</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="am-u-sm-12 am-u-md-3">-->
        <!--<div class="am-input-group am-input-group-sm">-->
          <!--<input type="text" class="am-form-field">-->
          <!--<span class="am-input-group-btn">-->
            <!--<button class="am-btn am-btn-default" type="button">搜索</button>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th>ID</th>
                <th>专题名</th>
                <th>商品类型</th>
                <th>状态</th>
                <th>是否显示</th>
                <th>添加时间</th>
                <th>商品,价格，限购数</th>
                <th>操作</th>
              </tr>
          </thead>
          <tbody>
            <tr v-for="item in thematicInfo">
              <td>{{item.id}}</td>
              <td>{{item.thematic_name}}</td>
              <td v-if="item.nature == '0'">实物</td>
              <td v-if="item.nature == '1'">虚拟</td>
              <td v-if="item.status == '0'">进行中</td>
              <td v-if="item.status == '1'">即将揭晓</td>
              <td v-if="item.status == '2'">已揭晓</td>
              <td v-if="item.is_show == '0'">不显示</td>
              <td v-if="item.is_show == '1'">显示</td>
              <td>{{item.add_time}}</td>
              <td>
                <div v-for="goodsInfo in item.goods">
                  <span class="am-margin-right-xs">{{goodsInfo.goods_name}},</span>
                  <span class="am-margin-right-xs">{{goodsInfo.price}},</span>
                  <span class="am-margin-right-xs">{{goodsInfo.limit_num}}</span>
                </div>
              </td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <a href="thematic-detail.html?thematic_id={{item.id}}" class="am-btn am-btn-primary am-btn-xs">
                      <span class="am-icon-pencil-square-o"></span> 查看详情
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
          <!--<div class="am-cf">-->
  <!--共 {{pageInfo.psize}} 条记录-->
  <!--<div class="am-fr">-->
    <!--<ul class="am-pagination">-->
      <!--<li class="am-disabled"><a href="#">«</a></li>-->
      <!--<li class="am-active"><a href="#">1</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
          <!--<hr />-->
          <!--<p>注：.....</p>-->
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script type="text/javascript">
  var thematicListApp = new Vue({
    el: '#thematicListApp',
    data: {
      thematicInfo: [],
      pageInfo: {}
    }
  });

  $.post('http://onebuy.ping-qu.com/Admin/Thematic/thematicList').done(function(data) {
    thematicListApp.thematicInfo = data.data.thematicpage;
    thematicListApp.pageInfo = data.data.pageInfo;
  }).fail(function() {
    alert("请求失败");
  });

</script>
</body>
</html>
