<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>会员管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body id="userApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员管理</strong> / <small>User Manage</small></div>
    </div>

    <!--<div class="am-g">-->
      <!--<div class="am-u-sm-12 am-u-md-6">-->
        <!--<div class="am-btn-toolbar">-->
          <!--<div class="am-btn-group am-btn-group-xs">-->

            <!--<button type="button" class="am-btn am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <!--</div>-->

    <div class="am-g">

      <div class="am-form am-form-horizontal am-u-md-4 am-u-sm-6">
        <div class="am-form-group">
          <label class="am-u-sm-4 am-text-right">搜索字段</label>
          <div class="am-u-sm-8 am-u-end">
            <select v-model="searchType">
              <option value="all" selected>全部会员</option>
              <option value="nickname">昵称</option>
              <option value="mobile">手机</option>
              <option value="is_follow">是否关注公众号</option>
              <option value="is_froze">账户状态</option>
            </select>
          </div>
        </div>
      </div>

      <div v-if="searchType != 'is_follow' && searchType != 'is_froze'" class="am-u-sm-6 am-u-md-3 am-u-end">
        <div class="am-input-group">
          <input v-model="searchText" type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button v-on:click="search()" class="am-btn am-btn-primary" type="button">搜索</button>
          </span>
        </div>
      </div>

      <div v-if="searchType == 'is_follow'" class="am-form-group" v-cloak>
        <div class="am-radio-inline">
          <label>
            <input v-model="searchText" type="radio" name="is_follow" value="1">
            是
          </label>
        </div>

        <div class="am-radio-inline">
          <label>
            <input v-model="searchText" type="radio" name="is_follow" value="0">
            否
          </label>
        </div>
        <div class="am-inline-block am-margin-left-sm">
          <button v-on:click="search()" type="button" class="am-btn am-btn-primary">搜索</button>
        </div>
      </div>

      <div v-if="searchType == 'is_froze'" class="am-form-group" v-cloak>
        <div class="am-radio-inline">
          <label>
            <input v-model="searchText" type="radio" name="is_froze" value="1">
            冻结
          </label>
        </div>

        <div class="am-radio-inline">
          <label>
            <input v-model="searchText" type="radio" name="is_froze" value="0">
            未冻结
          </label>
        </div>
        <div class="am-inline-block am-margin-left-sm">
          <button v-on:click="search()" type="button" class="am-btn am-btn-primary">搜索</button>
        </div>
      </div>

      <div class="am-u-sm-12">
        <form v-if="user" class="am-form" v-cloak>
          <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
              <tr>
                <th>头像</th>
                <th>昵称</th>
                <th>手机号</th>
                <th>最后一次登录时间</th>
                <th>注册时间</th>
                <th class="am-text-nowrap">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in user" v-cloak>
                <td>
                  <img v-bind:src="item.user_img" class="am-round" width="50">
                </td>
                <td>{{item.nickname}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.last_login}}</td>
                <td>{{item.add_time}}</td>
                <td class="am-text-nowrap">
                  <a href="user-detail.html?user_id={{item.id}}" class="am-btn am-btn-primary am-btn-xs am-margin-right-sm">
                    <span class="am-icon-pencil-square-o"></span> 详情
                  </a>
                  <button v-on:click="deleteId = $index" type="button" class="am-btn am-btn-danger am-btn-xs" data-am-modal="{target: '#deleteTip'}">
                    <span class="am-icon-times"></span> 删除
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <!--分页器-->
          <div class="am-cf">
            共 {{user.length}}<span v-cloak v-if="!user">0</span> 条记录
            <div class="am-fr">
              <ul class="am-pagination">
                <!--<li class="am-disabled"><a href="#">«</a></li>-->
                <li v-for="pageItem in page" v-on:click="search(pageItem)" v-bind:class="{'am-active': $index == 0}" v-cloak>
                  <a v-on:click.prevent="">{{pageItem}}</a>
                </li>
              </ul>
            </div>
          </div>

        </form>

        <div v-cloak v-if="!user" class="am-text-center am-text-lg am-padding-vertical-lg">
          <strong>无会员数据</strong>
        </div>

      </div>

    </div>
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--删除确认弹框-->
<div class="am-modal am-modal-alert" tabindex="-1" id="deleteTip">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">删除提示</div>
    <div class="am-modal-bd">
      是否要删除用户？
    </div>
    <div class="am-modal-footer">
      <span v-on:click="deleteUser()" class="am-u-sm-6 am-text-center am-text-danger bd-right line-height-44 modal-btn">
        确定
      </span>
      <span class="am-modal-btn am-u-sm-6 am-text-center am-text-primary line-height-44 modal-btn">
        取消
      </span>
    </div>
  </div>
</div>
<!--删除确认弹框 end-->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>

<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">
  var userApp = new Vue({
    el: '#userApp',
    data: {
      user: [],
      deleteId: '',
      searchType: '',//记录搜索的字段
      searchText: '',//搜索的内容
      psize: 15,
      pageNum: '',
      page: []
    },
    created: function() {
      var that = this;
      $.post('http://onebuy.ping-qu.com/Admin/User/userList',
              {
                psize: that.psize,
                pn: 1
              }
      ).done(function(response) {
        that.user = response.data.userpage;

        //计算数据页数
        that.pageNum = Math.ceil(response.data.pageInfo.dataSize / response.data.pageInfo.psize);
        //初始化分页器数据
        that.page = [];
        for (var i = 0; i < that.pageNum; i++) {
          that.page.$set(i, i + 1);
        }

      }).fail(function() {
        alert("无法获得用户数据");
      });
    },
    methods: {
      search: function(page) {
        var that = this;
        page = page > 0 ? page : 1;
        switch (this.searchType) {
          case 'all':
            $.post('http://onebuy.ping-qu.com/Admin/User/userList',
                    {
                      psize: that.psize,
                      pn: page
                    }
            ).done(function(res) {
              that.user = res.data.userpage;

              //计算数据页数
              that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
              //初始化分页器数据
              that.page = [];
              for (var i = 0; i < that.pageNum; i++) {
                that.page.$set(i, i + 1);
              }

            }).fail(function() {
              alert("无法获得用户数据");
            });
            break;
          case 'nickname':
            $.post('http://onebuy.ping-qu.com/Admin/User/userListNickname',
                  {
                    nickname: that.searchText,
                    psize: that.psize,
                    pn: page
                  }
            ).done(function(res) {
              that.user = res.data.userpage;

              //计算数据页数
              that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
              //初始化分页器数据
              that.page = [];
              for (var i = 0; i < that.pageNum; i++) {
                that.page.$set(i, i + 1);
              }
            }).fail(function() {
              alert("搜索请求失败");
            });
            break;

          case 'mobile':
            $.post('http://onebuy.ping-qu.com/Admin/User/userOnePhone',
                    {
                      mobile: that.searchText,
                      psize: that.psize,
                      pn: page
                    }
            ).done(function(res) {
              that.user = res.data.userpage;

              //计算数据页数
              that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
              //初始化分页器数据
              that.page = [];
              for (var i = 0; i < that.pageNum; i++) {
                that.page.$set(i, i + 1);
              }
            }).fail(function() {
              alert("搜索请求失败");
            });
            break;

          case 'is_follow':
            $.post('http://onebuy.ping-qu.com/Admin/User/userListFollow',
                    {
                      is_follow: that.searchText,
                      psize: that.psize,
                      pn: page
                    }
            ).done(function(res) {
              that.user = res.data.userpage;

              //计算数据页数
              that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
              //初始化分页器数据
              that.page = [];
              for (var i = 0; i < that.pageNum; i++) {
                that.page.$set(i, i + 1);
              }
            }).fail(function() {
              alert("搜索请求失败");
            });
            break;

          case 'is_froze':
            $.post('http://onebuy.ping-qu.com/Admin/User/userListFroze',
                    {
                      is_froze: that.searchText,
                      psize: that.psize,
                      pn: page
                    }
            ).done(function(res) {
              that.user = res.data.userpage;

              //计算数据页数
              that.pageNum = Math.ceil(res.data.pageInfo.dataSize / res.data.pageInfo.psize);
              //初始化分页器数据
              that.page = [];
              for (var i = 0; i < that.pageNum; i++) {
                that.page.$set(i, i + 1);
              }
            }).fail(function() {
              alert("搜索请求失败");
            });
            break;

          default:
            alert("缺少搜索字段");
        }
      },
      deleteUser: function() {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/User/userOneDelete',
                {
                  user_id: that.user[that.deleteId].id
                }
        ).done(function(response) {
          if(response.errcode == '0'){
            that.user.splice(that.deleteId, 1);
            $('#deleteTip').modal('close');
          } else {
            alert("删除失败");
          }
        }).fail(function() {
          alert("删除请求失败");
        });
      }
    }
  });
</script>
</body>
</html>
