<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>用户详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body id="userDetailApp">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<topbar></topbar>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <sidebar></sidebar>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户详细信息</strong> / <small>User Detail</small></div>
    </div>

    <hr/>

    <div class="am-g am-margin-bottom">

      <div class="am-u-sm-12">
        <div class="am-form am-form-horizontal">
          <div class="am-g am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label am-padding-0">微信头像：</label>
            <div class="am-u-sm-9">
              <img v-bind:src="userInfo.user_img" class="am-round" width="80">
            </div>
          </div>

          <div class="am-g am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label am-padding-0">微信昵称：</label>
            <div class="am-u-sm-9">
              {{userInfo.nickname}}
            </div>
          </div>

          <div class="am-form-group am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label">手机号码：</label>
            <div class="am-u-sm-6">
              <input v-model="phone" type="text">
            </div>
            <div class="am-u-sm-3">
              <button v-on:click="alterPhone()" type="button" class="am-btn am-btn-primary">保存修改</button>
            </div>
          </div>

          <div class="am-g am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label am-padding-0">微信openid：</label>
            <div class="am-u-sm-9">
              {{userInfo.openid}}
            </div>
          </div>

          <div class="am-g am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label am-padding-0">最近一次登录时间：</label>
            <div class="am-u-sm-9">
              {{userInfo.last_login}}
            </div>
          </div>

          <div class="am-g am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label am-padding-0">最近一次登录ip：</label>
            <div class="am-u-sm-9">
              {{userInfo.last_ip}}
            </div>
          </div>

          <div class="am-g am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label am-padding-0">注册时间：</label>
            <div class="am-u-sm-9">
              {{userInfo.add_time}}
            </div>
          </div>

          <div class="am-g am-padding-vertical-sm">
            <label class="am-u-sm-3 am-form-label am-padding-0">是否关注公众号：</label>
            <div v-if="userInfo.is_follow == 1" class="am-u-sm-2">已关注</div>
            <div v-else class="am-u-sm-2">未关注</div>
            <label class="am-u-sm-2 am-form-label am-padding-0">账户是否冻结：</label>
            <div v-if="userInfo.is_froze == 1" class="am-u-sm-2 am-u-end">冻结</div>
            <div v-else class="am-u-sm-2 am-u-end">未冻结</div>
          </div>

        </div>
      </div>
    </div>

    <!--默认收货地址 start-->
    <div v-if="userInfo.province">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">默认收货地址</strong> / <small>Default Address</small>
        </div>
      </div>
      <hr/>
      <div class="am-padding-horizontal am-padding-left-xl">
        <div class="am-margin-bottom-sm">
          <strong>收件人：</strong>{{userInfo.name}}
        </div>
        <div class="am-margin-bottom-sm">
          <strong>联系方式：</strong>{{userInfo.mobile}}
        </div>
        <div class="am-margin-bottom-sm">
          <strong>省份：</strong>{{userInfo.province}}
        </div>
        <div class="am-margin-bottom-sm">
          <strong>城市：</strong>{{userInfo.city}}
        </div>
        <div class="am-margin-bottom-sm">
          <strong>区域：</strong>{{userInfo.area}}
        </div>
        <div class="am-margin-bottom-sm">
          <strong>详细地址：</strong>
          <div class="am-padding-horizontal">{{userInfo.area}}</div>
        </div>
      </div>
    </div>
    <!--默认收货地址 end-->

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>

<script src="assets/js/app.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/base.js"></script>
<script type="text/javascript">
  var userDetailApp = new Vue({
    el: '#userDetailApp',
    data: {
      userInfo: {},
      phone: '',
      userId: ''
    },
    created: function() {
      $.post('http://onebuy.ping-qu.com/Admin/User/userOneDetail',
              {
                user_id: getParam('user_id')
              }
      ).done(function(response) {
        userDetailApp.userInfo = response.data.userinfo;
        userDetailApp.phone = response.data.userinfo.phone;
        userDetailApp.userId = getParam('user_id');
      }).fail(function() {
        alert("获取用户详情失败");
      });
    },
    methods: {
      alterPhone: function() {
        var that = this;
        $.post('http://onebuy.ping-qu.com/Admin/User/userOneEdit',
                {
                  id: that.userId,
                  phone: that.phone
                }
        ).done(function(response) {
          if(response.errcode == '0'){
            window.location = 'user.html';
          } else {
            alert("修改失败");
          }
        }).fail(function() {
          alert("获取用户详情失败");
        });
      }
    }
  });
</script>
</body>
</html>
