<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
    <link rel="stylesheet" href="assets/css/scroll-base.css" />
    <style rel="stylesheet">
        .mobiscroll-input{
            border: 1px solid #dcdcdc;
            line-height: 30px;
            padding-right: 10px;
        }
    </style>
</head>
<body class="bg-grey" id="addAddressApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">新增地址
        <a href="javascript: history.back();" class="back">
            <img src="assets/i/back.png" />
        </a>
        <a href="personal.html?company_id={{companyId}}" class="personal-top-link">
            <img src="assets/i/personal-logo.png" />
        </a>
    </div>

    <!--表单-->
    <div class="padding-horizontal-10 bg-white grid-container">
        <label class="up-label">收货人姓名</label>
        <input v-model="postData.name" class="block-input text-left">
        <label class="up-label">手机号码</label>
        <input v-model="postData.mobile" class="block-input text-left">
        <label class="up-label">收货地址</label>
        <div class="row margin-vertical-10">
            <div class="col-xs-3 lh35 font-grey">省份</div>
            <div class="col-xs-9">
                <select id="province" class="block-input hide"></select>
            </div>
        </div>
        <div class="row margin-vertical-10">
            <div class="col-xs-3 lh35 font-grey">城市</div>
            <div class="col-xs-9">
                <select id="city" class="block-input hide"></select>
            </div>
        </div>
        <div class="row margin-vertical-10">
            <div class="col-xs-3 lh35 font-grey">县区</div>
            <div class="col-xs-9">
                <select id="area" class="block-input hide"></select>
            </div>
        </div>
        <div class="row margin-vertical-10">
            <div class="col-xs-3 lh35 font-grey">详细地址</div>
            <div class="col-xs-9">
                <textarea v-model="postData.street" rows="5" class="block-input"></textarea>
            </div>
        </div>
    </div>
    <div v-cloak v-if="postData.address_id" class="f13 font-red position-rl pt10 pl10">
        设为默认地址
        <span v-on:click="setDefault($event)" class="default-radio" v-bind:class="{'default-checked': postData.is_default == '1'}"></span>
    </div>

    <!--按钮-->
    <div class="padding-horizontal-10 padding-vertical-20 cf">
        <button v-on:click="addAdress()" class="btn bg-red font-white width-full br4">保存地址</button>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="assets/js/base.js"></script>
    <script type="text/javascript" src="assets/js/scroll-base.js"></script>
    <script type="text/javascript" src="assets/js/addAddressApp.js"></script>

</body>
</html>