<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
</head>
<body class="bg-grey" id="addressManageApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">收货地址管理
        <a href="javascript: history.back();">
            <img class="back" src="assets/i/back.png" />
        </a>
    </div>

    <!--新增、删除地址按钮-->
    <ul class="address-manage-btn font-white text-center lh42">
        <li class="add-address bg-red fl">
            <a href="add-address.html?user_id={{userId}}" class="block">
                <i class="i-addAddress"></i>
                <span>新增地址</span>
            </a>
        </li>
        <li class="delete-address bg-black">
            <a v-on:click="deleteBtn" href="javascript:;" class="block">
                <i class="i-deleteAddress"></i>
                <span>删除地址</span>
            </a>
        </li>
    </ul>

    <!--地址列表-->
    <ul class="address-list bg-white fl width-full bd-bottom bd-grey">
        <li v-for="item in address" class="position-rl padding-vertical-10 fl width-full">
            <div v-if="showCheckBox" class="col-xs-2 position-st">
                <span class="round-checkBox" v-on:click="select($index)" v-bind:class="{'checked': deleteId[$index]}"></span>
            </div>
            <ul v-bind:class="{'pl10': !showCheckBox, 'col-xs-9': !showCheckBox, 'col-xs-7': showCheckBox}" v-cloak>
                <li class="margin-vertical-5">
                    <span>{{item.name}}</span>
                    <span>{{item.mobile}}</span>
                </li>
                <li class="margin-vertical-5">
                    <span>{{item.province}}</span>
                    <span>{{item.city}}</span>
                    <span>{{item.area}}</span>
                </li>
                <li class="margin-vertical-5">{{item.street}}</li>
            </ul>
            <div class="col-xs-3 position-st">
                <a href="add-address.html?user_id={{userId}}&address_id={{item.id}}" class="edit-btn">
                    <i class="i-editAddress"></i>编辑
                </a>
            </div>
        </li>
    </ul>

    <!--删除地址按钮-->
    <div v-if="showCheckBox" class="row bg-white lh42 mt20 position-rl bd-top bd-bottom bd-grey">
        <div class="col-xs-2 position-st">
            <span v-on:click="allSelect()" class="round-checkBox" v-bind:class="{'checked': isAllSelect}">
            </span>
        </div>
        <div v-if="!isAllSelect" class="col-xs-6">全选</div>
        <div v-if="isAllSelect" class="col-xs-6">取消全选</div>
        <div class="col-xs-4 bg-red text-center font-white">
            <span v-on:click="delete" class="block">删除</span>
        </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="assets/js/base.js"></script>
    <script type="text/javascript">
        var addressManageApp = new Vue({
            el: '#addressManageApp',
            data: {
                userId: '',
                address: {},
                showCheckBox: false,
                deleteId: [],
                isAllSelect: false
            },
            methods: {
                deleteBtn: function () {
                    if(!this.showCheckBox){
                        this.showCheckBox = true;
                    } else {
                        this.showCheckBox = false;
                    }
                },
                select: function (index) {
                    //
                    if(this.deleteId[index]){
                        //取消选中，将deleteId中相应的元素值设为false
                        this.deleteId.$set(index, false);
                    } else {
                        //选中,将地址id放入deleteId数组
                        this.deleteId.$set(index, this.address[index].id);
                    }console.log(this.deleteId);
                },
                allSelect: function () {
                    if(!this.isAllSelect){
                        //全选
                        for(var i = 0; i < this.address.length; i++){
                            this.deleteId.$set(i, this.address[i].id);
                        }
                        this.isAllSelect = true;
                    } else {
                        //全不选
                        this.deleteId = [];
                        this.isAllSelect = false;
                    }
                },
                delete: function () {
                    var that = this;
                    var deleteData = [];//储存要删除的地址的ID
                    var len = 0;

                    //将deleteID中的地址ID筛选出来
                    for(var i = 0; i < that.deleteId.length; i++){
                        if(that.deleteId[i]){
                            deleteData[len++] = that.deleteId[i];
                        }
                    }
                    $.post('http://onebuy.ping-qu.com/Api/Address/addressDeleteconfirm',
                            {
                                address_id: deleteData
                            }
                    ).done(function (res) {
                        if(res.errcode == '0'){

                            //更新实例中的地址数据
                            for(var i = 0; i < that.deleteId.length; i++){
                                if(that.deleteId[i]){
                                    if(i == 0){
                                        that.address.shift();
                                        that.deleteId.shift();
                                    } else {
                                        that.address.splice(i);
                                        that.deleteId.splice(i);
                                    }
                                }
                            }
//                            alert("删除成功");
                        }
                    }).fail(function () {
                        alert("请求失败");
                    });
                }
            }
        });
        $.post('http://onebuy.ping-qu.com/Api/Address/addressList', {user_id: getParam('user_id')}).done(function (data) {
            addressManageApp.address = data.data.addresslist;
            addressManageApp.userId = getParam('user_id');
        }).fail(function () {
            alert("请求失败");
        });
    </script>
</body>
</html>