<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
    <style>
        #wrapper {
            position: absolute;
            z-index: 1;
            top: 38px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #f2f2f2;
            overflow: hidden;
        }

        #scroller {
            position: absolute;
            z-index: 1;
            width: 100%;
        }
    </style>
</head>
<body class="bg-grey" id="buyRecordApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">购买记录
        <a href="javascript: history.back();">
            <img class="back" src="assets/i/back.png" />
        </a>
    </div>

    <div v-cloak v-if="!goods" class="no-record-tip">
        <img src="assets/img/no-record.png" class=" mt20 mb20" width="70">
    </div>

    <div id="wrapper" v-bind:class="{'hide': !goods }">

        <div id="scroller" class="bg-grey">

            <!--购买记录列表-->
            <ul class="goods-list index-goods-list buy-goods-list f15 padding-horizontal-10 pt10">
                <li v-cloak v-for="item in goods" class="br4 index-bd-grey position-rl grid-container mb10">
                    <a class="padding-horizontal-10 padding-vertical-10 block" href="pay/goods-detail.html?goods_id={{item.goods_id}}&company_id={{companyId}}">

                        <!--进行中标签-->
                        <img v-if="goodsStatus[$index] == 'ing'" src="assets/i/ing-icon.png" class="ing-icon">

                        <!--商品缩略图-->
                        <div class="bd index-bd-grey index-goods-img-box fl bg-center bg-cover" v-bind:style="{'background-image': 'url(' + item.goods_thumb + ')'}">
                            <!--<img v-bind:src="item.goods_thumb" width="100%">-->
                        </div>

                        <!--右侧商品描述-->
                        <div class="index-goods-desc">
                            <div class="index-goods-desc-top">
                                <span class="line-clamp-2 f13" v-cloak>{{item.goods_name}}</span>

                                <!--正在进行显示内容-->
                                <div v-if="goodsStatus[$index] == 'ing'">
                                    <span class="block margin-vertical-5 font-red f13" v-cloak>价值：￥{{item.price}}元</span>
                                    <!--进度条-->
                                    <div class="progress">
                                        <div class="progress-bar" v-bind:style="{width: progressWidth($index)}"></div>
                                    </div>
                                </div>

                                <!--即将揭晓-->
                                <div v-if="goodsStatus[$index] == 'ending'">
                                    <span class="block font-red margin-vertical-5 f13" v-cloak>[即将揭晓]</span>
                                    <span class="block font-grey f11" v-cloak>揭晓时间：{{item.lucky_time | date}}</span>
                                </div>

                                <!--已揭晓-->
                                <div v-if="goodsStatus[$index] == 'end'">
                                    <span class="block font-green margin-vertical-5 f13" v-cloak>[已揭晓]</span>
                                    <span class="block font-grey f11" v-cloak>揭晓时间：{{item.lucky_time | date}}</span>
                                </div>
                            </div>

                            <!--立即一元购按钮-->
                            <button v-if="goodsStatus[$index] == 'ing'" class="btn bg-red block width-full font-white br4 index-buy-btn f13 position-rl">
                                <img src="assets/i/buy-icon.png" width="13" class="position-rl" style="top: 2px;">
                                <span>再次购买</span>
                            </button>

                            <!--即将揭晓倒计时-->
                            <div v-if="goodsStatus[$index] == 'ending'" class="btn bg-grey block width-full mt5 br4 index-buy-btn f13 position-rl">
                                <img src="assets/i/clock.png" width="12" class="position-rl" style="top: 2px;"/>
                                揭晓倒计时<span class="font-red f12" v-cloak> {{countDownTime[$index].time}} {{countDown($index)}}</span>
                            </div>

                            <!--已揭晓中奖者-->
                            <div v-if="goodsStatus[$index] == 'end'" class="btn bg-grey block width-full mt5 br4 index-buy-btn text-ellipsis f13">
                                <img src="assets/i/gift-icon.png" width="12" class="">
                                获得者：<span class="font-red f12" v-cloak>{{item.nickname}}</span>
                            </div>

                        </div>
                    </a>
                    <div class="row margin-vertical-5 font-grey f11 padding-horizontal-10 margin-vertical-10 lh11">
                        <span class="col-xs-4" v-cloak >剩余：{{item.last_num}}人次</span>
                        <span class="col-xs-4 bd-right bd-left text-center" style="border-color: #d4d4d4;" v-cloak>限购：{{item.limit_num}}人次</span>
                        <span class="col-xs-4 text-right">参与人数：
                            <span class="font-light-blue" v-cloak>{{item.purchase_num}}</span>人
                        </span>
                    </div>
                </li>
            </ul>

        </div>

        <div v-cloak v-if="goods.length >= psize" class="text-center width-full position-ab bt0 font-grey" v-cloak>{{loadTip}}</div>
    </div>


    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="assets/js/base.js"></script>
    <script type="text/javascript" src="assets/js/iscroll-probe.js"></script>
    <script type="text/javascript" src="assets/js/buyRecordApp.js"></script>
</body>
</html>