<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
</head>
<body class="bg-grey" id="buyRecordApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">购买记录
        <a href="javascript: history.back();">
            <img class="back" src="assets/i/back.png" />
        </a>
    </div>

    <!--购买记录列表-->
    <ul class="buy-record-list f15">
        <li v-for="item in goods" class="row">
            <a href="{{goodsHref($index)}}">
                <div class="col-xs-3">
                    <div class="product-small-img" v-bind:style="{'background-image': 'url(' + item.goods_thumb +')'}"></div>
                    <div v-if="item.nickname" class="product-state">已揭晓</div>
                    <div v-if="item.last_num > 0" class="product-state product-state-ing">进行中</div>
                    <div v-if="item.lucky_time && !item.nickname" class="product-state product-state-ing">正在揭晓</div>

                </div>

                <div class="col-xs-9">
                    <span v-cloak>{{item.goods_title}}</span>

                    <!--已揭晓-->
                    <div v-if="goodsStatus[$index] == 'end'">
                    <span class="block mt10">
                        <img src="assets/i/crown.png" width="20" height="20" class="vertical-top"/>获得者:
                        <span class="font-red" v-cloak>{{item.nickname}}</span>
                    </span>
                        <span class="block font-grey mt5" v-cloak>揭晓时间：{{item.lucky_time | date}}</span>
                    </div>

                    <!--正在进行-->
                    <div v-if="goodsStatus[$index] == 'ing'" class="mt10 bg-white f15 grid-container">
                        <div class="progress cf">
                            <div class="progress-bar" v-bind:style="{width: progressWidth($index)}"></div>
                        </div>
                        <div class="row mt10">
                            <div class="col-xs-4">
                                <span class="block" v-cloak>{{item.purchase_num}}</span>
                                <span class="f14 font-grey">已参与</span>
                            </div>
                            <div class="col-xs-4 text-center">
                                <span class="block" v-cloak>{{item.total_num}}</span>
                                <span class="f14 font-grey">总需人次</span>
                            </div>
                            <div class="col-xs-4 text-right">
                                <span class="block" v-cloak>{{item.last_num}}</span>
                                <span class="f14 font-grey">剩余</span>
                            </div>
                        </div>
                    </div>

                    <!--正在揭晓-->
                    <div v-if="goodsStatus[$index] == 'ending'">
                        <button class="btn index-grey-btn">
                            <img src="assets/i/clock.png" height="18px" class="mr5 vertical-top">揭晓倒计时
                            <span class="font-red">{{countDownTime[$index].time}}{{countDown($index)}}</span>
                        </button>
                    </div>

                </div>
            </a>
        </li>
    </ul>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="assets/js/base.js"></script>
    <script type="text/javascript">
        var buyRecordApp = new Vue({
            el: '#buyRecordApp',
            data: {
                goods: {},
                userId: '',
                countDownTime: [],//装多个商品的倒计时时间
                goodsStatus: []//商品状态，是否揭晓
            },
            created: function() {
                var that = this;
                $.post('http://onebuy.ping-qu.com/Api/User/purchaseList',
                        {
                            user_id: getParam('user_id')
                        }
                ).done(function (res) {
                    that.goods = res.data.detailpage;
                    that.userId = getParam('user_id');

                    //计算每个商品的状态
                    var mydate = new Date();
                    for(var i = 0; i < that.goods.length; i++){

                        var nowTime = Date.UTC(mydate.getFullYear(), mydate.getMonth() - 1, mydate.getDate(),
                                mydate.getHours(), mydate.getMinutes(),　mydate.getSeconds());
                        var luckyTime = that.goods[i].lucky_time * 1000;

                        if(luckyTime >= nowTime){//正在揭晓（未到开奖时间）
                            that.goodsStatus[i] = 'ending';
                        } else if (luckyTime < nowTime) {//已揭晓（当前时间大于lucky_time）
                            that.goodsStatus[i] = 'end';
                        } else {
                            that.goodsStatus[i] = 'ing';
                        }

                    }
                }).fail(function () {
                    alert("请求失败");
                });
            },
            methods: {
                progressWidth: function(index) {
                    var buyProgress = Math.floor((this.goods[index].purchase_num / this.goods[index].total_num) * 100);
                    return buyProgress.toString() + '%';
                },
                countDown: function(index) {//正在揭晓商品倒计时
                    var myDate = new Date();
                    var millisecond = this.goods[index].lucky_time * 1000 - myDate.getTime();
                    return Math.floor(millisecond/60000) + '分' + Math.floor((millisecond%60000)/1000) + '秒';
                },
                goodsHref: function (index) {
                    if(this.goods[index].nickname){
                        //已揭晓商品链接到record-detail.html
                        return 'record-detail.html?user_id=' + this.userId + '&goods_id=' +　
                                this.goods[index].goods_id;
                    } else {
                        //正在揭晓、正在进行商品链接到goods-detail.html
                        return 'goods-detail.html?user_id=' + this.userId + '&goods_id=' +
                                this.goods[index].goods_id;
                    }
                },
                countDown:function(index) {//正在揭晓商品倒计时
                    var that = this;
                    var time = setInterval(function() {
                        var myDate = new Date();
                        var millisecond = that.goods[index].lucky_time * 1000 - myDate.getTime();
                        if(millisecond <= 0){//倒计时结束
                            that.goodsStatus.$set(index, 'end');

                        }
                        var temp = Math.floor(millisecond/60000) + '分' + Math.floor((millisecond%60000)/1000) + '秒';
                        that.countDownTime.$set(index, {time: temp});
                    },1000);
                }
            }
        });

    </script>
</body>
</html>