<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
</head>
<body class="bg-grey" id="index-app">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">一元购
        <a href="personal.html?user_id={{userId}}">
            <img class="personal-top-link" src="assets/i/personal-logo.png" />
        </a>
    </div>

    <!--主背景图-->
    <a href="#" class="block index-bg position-rl">
        <img v-bind:src="bgSrc" width="100%">
        <div class="periods">
            <img src="assets/img/index-decoration1.png">
            <span class="inline-block padding-horizontal-5">{{thematicName}}</span>
            <img src="assets/img/index-decoration2.png">
        </div>
    </a>

    <!--商品列表-->
    <ul class="index-goods-list f15">
        <li v-for="item in goods">
            <a class="index-goods-row" href="jsapi/goods-detail.html?goods_id={{item.id}}&user_id={{userId}}">

                <!--商品缩略图-->
                <div class="index-goods-img bd-right bd-grey" v-bind:style="{'background-image': 'url(' + item.goods_thumb + ')'}">
                    <div v-if="goodsStatus[$index] == 'ending'" class="index-product-state product-state-ing">
                        正在揭晓
                    </div>
                    <div v-if="goodsStatus[$index] == 'end'" class="index-product-state">已揭晓</div>
                </div>

                <div class="index-goods-info">{{item.goods_name}}
                    <span class="block mt5 font-red f22">价值：￥{{item.price}}元</span>

                    <!--未开奖商品才显示-->
                    <div v-if="goodsStatus[$index] == 'ing'">
                        <span class="block mt5">
                            <span class="bd-right bd-grey pr10">剩余：{{item.last_num}}</span>
                            <span class="pl10">限购：{{item.total_num}}人次</span>
                        </span>
                        <!--进度条-->
                        <div class="progress cf margin-vertical-10">
                            <div class="progress-bar" v-bind:style="{width: progressWidth($index)}"></div>
                        </div>
                        <div>
                            <div class="btn index-grey-btn">
                                立即一元购
                            </div>
                        </div>

                    </div>

                    <!--正在揭晓商品-->
                    <div v-if="goodsStatus[$index] == 'ending'">
                        <button class="btn index-grey-btn">
                            <img src="assets/i/clock.png" height="18px" class="mr5 vertical-top">揭晓倒计时
                            <span class="font-red">{{countDownTime[$index].time}}{{countDown($index)}}</span>
                        </button>
                    </div>

                    <!--已揭晓商品-->
                    <div v-if="goodsStatus[$index] == 'end'">
                        <span class="block mt5 bd-top bd-grey pt10">
                            <img src="assets/i/crown.png" width="20" height="20" class="vertical-top"/>获得者:
                            <span class="font-red">{{item.nickname}}</span>
                        </span>
                        <span class="block font-grey mt5 f14">揭晓时间：{{item.lucky_time | date}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <script src="assets/js/jquery-2.0.3.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/base.js"></script>
    <script type="text/javascript">
//        $('')
        var indexApp = new Vue({
            el: '#index-app',
            data: {
                userId: '',
                goods: {},
                thematicName: '',
                bgSrc: '',
                countDownTime: [],//装多个商品的倒计时时间
                goodsStatus: []//商品状态，是否揭晓
            },
            created: function() {
                var that = this;
                $.post('http://onebuy.ping-qu.com/Api/User/checklogin').done(function(res) {
                    if(res.errcode == '90005'){
                        //获取新用户信息
                        window.location = 'http://onebuy.ping-qu.com/Api/User/getOpenID';
                    } else if (res.data.user_id) {
                        //老用户直接加载数据
                        indexApp.userId = res.data.user_id;
                        $.post('http://onebuy.ping-qu.com/Api/Goods/index').done(function(goodsData) {
                            that.goods = goodsData.data.index;
                            that.thematicName = goodsData.data.thematic.thematic_name;
                            that.bgSrc = goodsData.data.thematic.poster;

                            //计算每个商品的状态
                            var mydate = new Date();
                            for(var i = 0; i < that.goods.length; i++){

                                var nowTime = Date.UTC(mydate.getFullYear(), mydate.getMonth() - 1, mydate.getDate(),
                                        mydate.getHours(), mydate.getMinutes(),　mydate.getSeconds());
                                var luckyTime = that.goods[i].lucky_time * 1000;

                                if(luckyTime >= nowTime){//正在揭晓（未到开奖时间）
                                    that.goodsStatus[i] = 'ending';
                                } else if (luckyTime < nowTime) {//已揭晓（当前时间大于lucky_time）
                                    that.goodsStatus[i] = 'end';
                                } else {
                                    that.goodsStatus[i] = 'ing';
                                }

                            }
                        }).fail(function() {
                            alert("请求数据失败");
                        });
                    }
                });
            },
            methods: {
                progressWidth: function(index) {
                    var buyProgress = Math.floor((this.goods[index].purchase_num / this.goods[index].total_num) * 100);
                    return buyProgress.toString() + '%';
                },
                countDown:function(index) {//正在揭晓商品倒计时
                    var that = this;
                    var time = setInterval(function() {
                        var myDate = new Date();
                        var millisecond = that.goods[index].lucky_time * 1000 - myDate.getTime();
                        if(millisecond <= 0){//倒计时结束
                            that.goodsStatus.$set(index, 'end');

                        }
                        var temp = Math.floor(millisecond/60000) + '分' + Math.floor((millisecond%60000)/1000) + '秒';
                        that.countDownTime.$set(index, {time: temp});
                    },1000);

                }
            }
        });



    </script>
</body>
</html>