<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <script src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
        setTimeout(function() {
            $('.loader').fadeOut(1000);
        },1200);
    </script>
</head>
<body class="bg-grey" id="index-app">
    <div class="loader">
        <div class="loader-inner line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!--顶栏-->
    <div class="text-center bg-white top-bar" v-cloak>{{companyName}}
        <a href="personal.html?company_id={{companyId}}">
            <img class="personal-top-link" src="assets/i/personal-logo.png" style="left: 10px;" />
        </a>
    </div>

    <!--海报轮播-->
    <div class="swiper-container index-swiper">
        <div class="swiper-wrapper">
        </div>
        <!-- 进度条 -->
        <div class="swiper-pagination">
        </div>
    </div>

    <!--期数选择-->
    <div class="grid-container period-select" v-cloak>
        <div class="row text-center font-white">
            <div v-on:click="nextPeriod()" class="col-xs-3 last-period">下一期</div>
            <div class="col-xs-6 padding-horizontal-3">
                <span class="block br4 current-period" v-bind:class="{'ylsb-current-period': companyId == 37}">
                    <span class="triangle"></span>{{thematic_name}}
                </span>
            </div>
            <div v-on:click="prevPeriod()" class="col-xs-3 next-period" v-bind:class="{'ylsb-next-period': companyId == 37}">上一期</div>
        </div>
    </div>

    <!--商品列表加载中-->
    <div v-if="!goods" class="padding-vertical-20 text-center">数据加载中...</div>

    <!--自营一元购商品列表-->
    <ul v-if="companyId == 38" class="goods-list index-goods-list f15 padding-horizontal-10 pt16 pb30" v-cloak>
        <li v-for="item in goods" class="br4 index-bd-grey position-rl grid-container mb10">
            <a class="padding-horizontal-10 padding-vertical-10 block" v-bind:href="goodsHref($index)">

                <!--进行中标签-->
                <img v-if="goodsStatus && goodsStatus[$index] == 'ing'" src="assets/i/ing-icon.png" class="ing-icon">

                <!--商品缩略图-->
                <div class="bd index-bd-grey index-goods-img-box fl">
                    <img v-bind:src="item.goods_img" width="100%">
                </div>

                <!--右侧商品描述-->
                <div class="index-goods-desc">
                    <div class="index-goods-desc-top">
                        <span class="line-clamp-2 f13" v-cloak>{{item.goods_name}}</span>

                        <!--正在进行显示内容-->
                        <div v-if="!goodsStatus || goodsStatus[$index] == 'ing'">
                            <span class="block margin-vertical-5 font-red f13" v-cloak>价值：￥{{item.price}}元</span>
                            <!--进度条-->
                            <div class="progress">
                                <div class="progress-bar" v-bind:style="{width: progressWidth($index)}"></div>
                            </div>
                        </div>

                        <!--即将揭晓-->
                        <div v-if="goodsStatus && goodsStatus[$index] == 'ending'">
                            <span class="block font-red margin-vertical-5 f13" v-cloak>[即将揭晓]</span>
                            <span class="block font-grey f11" v-cloak>揭晓时间：{{item.lucky_time | date}}</span>
                        </div>

                        <!--已揭晓-->
                        <div v-if="goodsStatus && goodsStatus[$index] == 'end'">
                            <span class="block font-green margin-vertical-5 f13" v-cloak>[已揭晓]</span>
                            <span class="block font-grey f11" v-cloak>揭晓时间：{{item.lucky_time | date}}</span>
                        </div>
                    </div>

                    <!--立即一元购按钮-->
                    <button v-if="!goodsStatus || goodsStatus[$index] == 'ing'" v-bind:disabled="!goodsStatus" class="btn bg-red block width-full font-white br4 index-buy-btn f13 position-rl">
                        <img src="assets/i/buy-icon.png" width="13" class="position-rl" style="top: 2px;">
                        <span v-if="!goodsStatus">即将开始</span>
                        <span v-else>立即一元购</span>
                    </button>

                    <!--即将揭晓倒计时-->
                    <div v-if="goodsStatus && goodsStatus[$index] == 'ending'" class="btn bg-grey block width-full mt5 br4 index-buy-btn f13 position-rl">
                        <img src="assets/i/clock.png" width="12" class="position-rl" style="top: 2px;"/>
                        揭晓倒计时<span class="font-red f12" v-cloak> {{countDownTime[$index].time}} {{countDown($index)}}</span>
                    </div>

                    <!--已揭晓中奖者-->
                    <div v-if="goodsStatus && goodsStatus[$index] == 'end'" class="btn bg-grey block width-full mt5 br4 index-buy-btn text-ellipsis f13">
                        <img src="assets/i/gift-icon.png" width="12" class="">
                        获得者：<span class="font-red f12" v-cloak>{{item.nickname}}</span>
                    </div>

                </div>
            </a>
            <div class="row margin-vertical-5 font-grey f11 padding-horizontal-10 margin-vertical-10 lh11">
                <span class="col-xs-4" v-cloak >剩余：{{item.last_num}}人次</span>
                <span class="col-xs-4 bd-right bd-left text-center" style="border-color: #d4d4d4;" v-cloak>限购：{{item.limit_num}}人次</span>
                <span class="col-xs-4 text-right">参与人数：
                    <span class="font-light-blue" v-cloak>{{item.purchase_num}}</span>人
                </span>
            </div>
        </li>
    </ul>

    <!--伊丽莎白商品列表-->
    <ul v-if="companyId == 37" class="ylsb-index-goods-list f15 padding-horizontal-10 pt16 pb30" v-cloak>
        <li v-for="item in goods" class="br4 index-bd-grey bg-white position-rl grid-container mb10">
            <a class="padding-horizontal-10 padding-vertical-10 block" v-bind:href="goodsHref($index)">

                <!--进行中标签-->
                <img v-if="goodsStatus && goodsStatus[$index] == 'ing'" src="assets/i/ing-icon.png" class="ing-icon">

                <!--商品缩略图-->
                <div>
                    <img v-bind:src="item.goods_img" width="100%">
                </div>

                <!--商品名称-->
                <span class="line-clamp-2 f13" v-cloak>{{item.goods_name}}</span>

                <!--进度条/揭晓时间 & 价格-->
                <div class="f0">
                    <!--进度条-->
                    <div v-if="!goodsStatus || goodsStatus[$index] != 'end'" class="progress inline-block" style="width: 60%;">
                        <div v-if="!goodsStatus || goodsStatus[$index] == 'ing'" class="progress-bar ylsb-progress-bar" v-bind:style="{width: progressWidth($index)}"></div>
                        <div v-if="goodsStatus && goodsStatus[$index] == 'ending'" class="progress-bar" style="width: 100%; background-color: #80ff00;"></div>
                    </div>
                    <!--揭晓时间-->
                    <div v-if="goodsStatus && goodsStatus[$index] == 'end'" class="inline-block f13 font-grey text-nowrap" style="width: 60%;">
                        揭晓时间：{{item.lucky_time | date}}
                    </div>
                    <!--价格-->
                    <span class="inline-block margin-vertical-5 font-red f13 text-right" style="width: 40%" v-cloak>价值：￥{{item.price}}元</span>
                </div>

                <!--参与情况-->
                <div class="row margin-vertical-5 font-grey f11 margin-vertical-10 lh11">
                    <span class="col-xs-4" v-cloak >剩余：{{item.last_num}}人次</span>
                    <span class="col-xs-4 bd-right bd-left text-center" style="border-color: #d4d4d4;" v-cloak>限购：{{item.limit_num}}人次</span>
                    <span class="col-xs-4 text-right">参与人数：
                        <span class="font-light-blue" v-cloak>{{item.purchase_num}}</span>人
                    </span>
                </div>

                <!--立即一元购按钮-->
                <button v-if="!goodsStatus || goodsStatus[$index] == 'ing'" v-bind:disabled="!goodsStatus" class="btn bg-red block width-full font-white br4 index-buy-btn f13 position-rl">
                    <img src="assets/i/buy-icon.png" width="13" class="position-rl" style="top: 2px;">
                    <span v-if="!goodsStatus">即将开始</span>
                    <span v-else>立即一元购</span>
                </button>

                <!--即将揭晓倒计时-->
                <div v-if="goodsStatus && goodsStatus[$index] == 'ending'" class="btn bg-grey block width-full mt5 br4 index-buy-btn f13 position-rl">
                    <img src="assets/i/clock.png" width="12" class="position-rl" style="top: 2px;"/>
                    揭晓倒计时<span class="font-red f12" v-cloak> {{countDownTime[$index].time}} {{countDown($index)}}</span>
                </div>

                <!--已揭晓中奖者-->
                <div v-if="goodsStatus && goodsStatus[$index] == 'end'" class="btn bg-grey block width-full mt5 br4 index-buy-btn text-ellipsis f13">
                    <img src="assets/i/gift-icon.png" width="12" class="">
                    获得者：<span class="font-red f12" v-cloak>{{item.nickname}}</span>
                </div>
            </a>
        </li>
    </ul>

    <script src="assets/js/vue.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="assets/js/base.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/indexApp.js"></script>
</body>
</html>