<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
    <link rel="stylesheet" href="assets/css/layer.css" />
    <style>
        .wrapper {
            position: absolute;
            z-index: 1;
            top: 38px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #f2f2f2;
            overflow: hidden;
        }

        .scroller {
            position: absolute;
            z-index: 1;
            width: 100%;
        }
    </style>
</head>
<body id="joinRecordApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">参与记录
        <a href="javascript: history.back();">
            <img class="back" src="assets/i/back.png" />
        </a>
        <a href="personal.html?company_id={{companyId}}">
            <img class="personal-top-link" src="assets/i/personal-logo.png" />
        </a>
    </div>

    <!--无记录时显示的信息-->
    <div v-if="!recordList" class="text-center font-bold bg-white text-center">
        <img src="assets/img/no-record.png" class=" mt20 mb20" width="70">
    </div>

    <!--记录列表-->
    <div id="joinWrapper" v-bind:class="{'wrapper': true, 'hide': !recordList }">
        <div id="joinScroller" class="scroller">
            <ul class="bg-white join-record-list">
                <li v-for="item in recordList" v-on:click="buyCodePopup($index)" v-cloak>
                    <span class="inline-block">
                        <img class="round" v-bind:src="item.user_img" width="40">
                    </span>
                    <span class="ml10 inline-block vertical-top" v-cloak>
                        <span class="font-red" v-cloak>{{item.nickname}}</span>购买了
                        <span v-cloak>{{item.num}}</span>人次
                        <span class="block f14 font-grey mt5" v-cloak>{{item.add_time | date}}</span>
                    </span>
                </li>
            </ul>
        </div>
        <div v-if="recordList.length >= psize" v-cloak class="text-center width-full position-ab bt0 font-grey">
            {{joinScroller.loadTip}}
        </div>
    </div>

    <!--认购码弹窗-->
    <div v-bind:class="{'is-visible': CodePopupVisible}" v-on:click="buyCodePopupClose" class="popup buy-code-popup f15" role="alert">
        <div v-on:click.stop class="popup-container bg-grey">
            <a v-on:click="buyCodePopupClose" href="javascript:;" class="popup-close buy-code-popup-close"></a>
            <div class="default-font padding-horizontal-10 padding-vertical-10 bd-bottom bd-grey" v-cloak>
                <span class="font-red">{{buyCodeData.nickname}}</span>购买了{{buyCodeData.code.length}}人次
            </div>
            <div class="text-left default-font padding-horizontal-10 padding-vertical-20">认购码：
                <div class="buy-code-box">
                    <span v-for="item in buyCodeData.code" class="inline-block mr16 padding-vertical-10" v-cloak>{{item}}</span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="assets/js/base.js"></script>
    <script type="text/javascript" src="assets/js/iscroll-probe.js"></script>
    <script type="text/javascript" src="assets/js/joinRecordApp.js"></script>
</body>
</html>