<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
</head>
<body class="bg-grey" id="logisticsApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">物流记录
        <a href="javascript: history.back();" class="back">
            <img src="assets/i/back.png" />
        </a>
        <a href="personal.html?company_id={{companyId}}" class="personal-top-link">
            <img src="assets/i/personal-logo.png" />
        </a>
    </div>

    <!--无记录时显示的信息-->
    <div v-if="!logistics" class="no-record-tip" v-cloak>
        <img src="assets/img/no-record.png">
        <div>暂无记录</div>
    </div>

    <!--物流状态列表-->
    <ul v-cloak v-else class="logistics-list pl16 pr10 padding-vertical-20 bd-bottom bd-grey bg-white">
        <li v-for="item in logistics" v-bind:class="{'logistics-end': isEnd($index)}"><!-- logistics-end在已签收时才添加 logistics-end-->
            <div class="logistics-list-dot"></div>
            <div class="logistics-content">
                <span class="block" v-cloak>{{item.context}}</span>
                <div class="f14 font-grey mt5" v-cloak>{{item.ftime}}</div>
            </div>
        </li>
    </ul>

    <!--收货地址-->
    <div class="position-rl padding-vertical-10 width-full f13 bg-white bd-top bd-grey grid-container mt20">
        <div class="f15 padding-horizontal-10 pb10 bd-bottom bd-grey">
            收货地址
        </div>
        <div v-cloak v-if="showCheckBox" class="col-xs-2 position-st">
            <span class="round-checkBox" v-on:click="select($index)" v-bind:class="{'checked': deleteId[$index]}"></span>
        </div>
        <ul v-cloak v-bind:class="{'pl10': !showCheckBox, 'col-xs-9': !showCheckBox, 'col-xs-7': showCheckBox}" v-cloak>
            <li class="margin-vertical-5">
                <span>{{goods.name}}</span>
                <span>{{goods.mobile}}</span>
            </li>
            <li class="margin-vertical-5">
                <span>{{goods.province}}</span>
                <span>{{goods.city}}</span>
                <span>{{goods.area}}</span>
            </li>
            <li class="margin-vertical-5">{{goods.street}}</li>
        </ul>
        <div v-cloak v-if="!logisticNum" class="col-xs-3 position-st">
            <a href="address-select.html?bill_id={{goods.id}}&company_id={{companyId}}" class="edit-btn">
                <i class="i-editAddress"></i>更改
            </a>
        </div>
    </div>

    <!--所获商品信息-->
    <div class="pb50">
        <div class="bg-white bd-top bd-bottom bd-grey grid-container margin-vertical-20 grid-container">
            <div class="bd-bottom bd-grey padding-horizontal-10 padding-vertical-10 f15">
                获得的商品
            </div>
            <a href="pay/goods-detail.html?goods_id={{goodsId}}&company_id={{companyId}}"
               class="block row logistics-goods-info f13 pt10 padding-horizontal-10" v-cloak>

                <!--商品缩略图-->
                <div class="bd index-bd-grey index-goods-img-box fl">
                    <img v-bind:src="goods.goods_thumb" width="100%">
                </div>

                <!--右侧商品描述-->
                <div class="index-goods-desc">
                    <span v-cloak class="text-ellipsis">{{goods.goods_title}}</span>
                <span class="block mt5" v-cloak>本期购入{{goods.num}}人次
                </span>
                <span class="block mt5">中奖码
                    <span class="font-red" v-cloak>{{goods.code}}</span>
                </span>
                    <span class="block font-grey mt5 f11" v-cloak>揭晓时间：{{goods.lucky_time | date}}</span>
                </div>
            </a>
        </div>
    </div>

    <!--分享按钮-->
    <div v-on:click="sharePopup" class="padding-vertical-10 text-center bd-top bd-grey bg-white position-fix bt0 width-full">
        <span class="mr5">
            <img src="assets/i/share.png" height="16" />
        </span>
        分享求祝福
    </div>

    <!--分享指引弹窗-->
    <div v-bind:class="{'is-visible': sharePopupVisible}" v-on:click="sharePopupClose" class="popup" role="alert">
        <div v-on:click.stop>
            <img src="assets/img/share-tip.png" class="share-tip">
        </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="assets/js/base.js"></script>
    <script type="text/javascript" src="assets/js/logisticsApp.js"></script>
</body>
</html>