<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <!--页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 关闭电话号码识别： -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 关闭邮箱地址识别： -->
    <meta name="format-detection" content="email=no" />

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
    <style>
        .wrapper {
            position: absolute;
            z-index: 1;
            top: 38px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #f2f2f2;
            overflow: hidden;
        }

        .scroller {
            position: absolute;
            z-index: 1;
            width: 100%;
        }
    </style>
</head>
<body class="bg-grey" id="obtainedGoodsApp">
    <!--顶栏-->
    <div class="text-center bg-white top-bar">已获得的商品
        <a href="javascript: history.back();" class="back">
            <img src="assets/i/back.png" />
        </a>
        <a href="personal.html?company_id={{companyId}}" class="personal-top-link">
            <img src="assets/i/personal-logo.png" />
        </a>
    </div>

    <!--无记录-->
    <div v-if="!obtainedGoods" class="no-record-tip text-center" v-cloak>
        <img src="assets/img/no-record.png">
        <div>暂无记录</div>
    </div>

    <!--商品列表-->
    <div id="obWrapper" v-bind:class="{'wrapper': true, 'hide': !obtainedGoods }">

        <div id="obScroller" class="bg-grey scroller" v-cloak>
            <ul class="goods-list index-goods-list ob-goods-list padding-horizontal-10 f13 pt10">
                <li v-for="item in obtainedGoods" class="br4 index-bd-grey position-rl mb10">
                    <a class="block pd10" href="logistics-record.html?logistics_number={{item.logistics_number}}&goods_id={{item.goods_id}}&company_id={{companyId}}">
                        <!--商品缩略图-->
                        <div class="bd index-bd-grey index-goods-img-box fl">
                            <img v-bind:src="item.goods_thumb" width="100%">
                        </div>

                        <!--商品信息，购买信息-->
                        <div class="index-goods-desc">
                            <span v-cloak class="text-ellipsis block">{{item.goods_name}}</span>
                            <span class="block mt5" v-cloak>本期购入{{item.num}}人次</span>
                            <span class="block mt5">中奖码
                                <span class="font-red" v-cloak>{{item.code}}</span>
                            </span>
                            <span class="block font-grey mt5 f11" v-cloak>揭晓时间：{{item.lucky_time | date}}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div v-if="obtainedGoods.length >= psize" class="text-center width-full position-ab bt0 font-grey" v-cloak>{{obScroller.loadTip}}</div>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="assets/js/base.js"></script>
    <script type="text/javascript" src="assets/js/iscroll-probe.js"></script>
    <script type="text/javascript" src="assets/js/obGoodsApp.js"></script>
</body>
</html>